[2021-01-12 04:53] ArtPoon opened #227 "Automate deletion of batch.log on cluster"
File size is going to get problematic.
Alternatively, reduce log message output.

[2021-01-12 04:56] ArtPoon commented on #213
[code]

[2021-01-12 04:57] ArtPoon commented on #213
Above error is thrown when we switch dropdown back from any other value to "Region", running `gisaid_canada` data files locally.

[2021-01-12 14:54] ArtPoon commented on #226
Download provision file and assess location of this genome with respect to Poisson distribution, lower bound should filter it out.

[2021-01-12 17:27] ArtPoon commented on #226
Need to modify `seq_utils.QPois` function to cache transition points for both the lower and upper quantiles.

[2021-01-12 18:02] ArtPoon commented on #226
@gopigugan can you please modify the QPois class in `seq_utils` in the `dev` branch to store the time points of lower quantile transitions?

[2021-01-12 18:03] ArtPoon commented on #226
i.e., we need to filter genomes that have too few mutations from the ancestor, given its collection date.
We are already filtering genomes with too many.  We need to do both.

[2021-01-15 19:32] ArtPoon commented on #215
@gopigugan can you please prioritize the `utils` scripts, since they're lower level?

[2021-01-16 00:51] gopigugan commented on #215
Sure. I'll finish those first

[2021-01-17 03:09] ArtPoon opened #230 "NotADirectory error thrown by treetime.py"
[code]

This might be a macOS-specific problem.

[2021-01-18 01:39] horaciobam commented on #195
With last commit I am now getting:

[code]

[2021-01-18 15:57] ArtPoon commented on #213
Should probably not propagate color scheme from tree to beadplot, since these will be on vastly different scales, e.g., number of samples.

[2021-01-18 16:09] ArtPoon commented on #205
Retain sequence label parsing and mapping to region (JSON) for local runs, and switch to GISAID annotation for our own pipeline.

[2021-01-19 17:52] ArtPoon commented on #213
I think I resolved the `TypeError` bug: `changeTreeColour()` function in `drawtree.js` was pulling all the `rect` objects including the cluster box that is not associated with data (via d3).

[2021-01-19 20:35] RouxCil commented on #222
Done

[2021-01-19 20:35] #222 closed

[2021-01-19 23:13] ArtPoon commented on #213
I wrote a small script to generate a reduced data provision file (limit 100 samples per lineage):
[code]

[2021-01-19 23:16] ArtPoon commented on #213
Using the above test data set, I found that one of the lineages (B.1.5.35) had a very strange residual:
[code]

[2021-01-20 01:48] ArtPoon commented on #213
[code]
The genome we picked for lineage B.1.5.35 is highly *under*-evolved for its collection date.

[2021-01-20 01:50] ArtPoon commented on #213
[code]

[2021-01-20 01:51] ArtPoon commented on #213
Will this be fixed by #228 ?

[2021-01-20 04:35] ArtPoon commented on #213
Excluding lower quantile seems to have fixed the above issue, thanks @gopigugan

[2021-01-20 04:55] ArtPoon commented on #213
Colour palette switch is working but we do really need a legend for users to interpret.
Probably need to move around the inputs at the top of the page to accommodate this, and to relocate the drop-down (select) to the left side of the page so that it appears above the tree it affects.

[2021-01-20 17:18] ArtPoon opened #231 "Deactivate search if input field is empty"
Otherwise search returns *all* beads.

[2021-01-21 02:47] ArtPoon commented on #213
*nyohohoho!*

<img width="548" alt="Screen Shot 2021-01-20 at 9 43 51 PM" src="https://user-images.githubusercontent.com/1109328/105273113-a5b8a500-5b68-11eb-8f80-988371cb2385.png">

<img width="257" alt="Screen Shot 2021-01-20 at 9 45 11 PM" src="https://user-images.githubusercontent.com/1109328/105273184-c97beb00-5b68-11eb-89bf-1b5ac4676ffd.png">

<img width="257" alt="Screen Shot 2021-01-20 at

[2021-01-21 03:07] ArtPoon commented on #230
Added an if..else in dev branch to catch case when package `__path__` points to egg (macOS), which is what raises the directory error.

[2021-01-21 15:42] ArtPoon commented on #213
Closing, maybe peel off new issues for the last two concepts

[2021-01-21 15:42] #213 closed

[2021-01-21 18:10] ArtPoon commented on #208
Shoot, I forgot that the `country` and `searchtext` fields are being generated client-side.  Still we should be more efficient about this data structure.

[2021-01-25 16:05] #226 closed

[2021-01-26 05:17] #132 closed

[2021-01-26 20:24] ArtPoon commented on #208
Modified `beadplot.py` to generate simplified JSON data structures.
Run on `testdata.xz`, noting that the current JSON has filesize `5400069` bytes.

[2021-01-26 21:52] ArtPoon commented on #208
`clusters.{}.json` with new data structure is `3531514` bytes

[2021-01-27 04:18] ArtPoon commented on #208
Putative fix - before merging into `dev` branch need to notify @PoonLab/everyone that this refactor is not back-compatible with previous version of JSON data!

[2021-01-27 14:38] ArtPoon opened #233 "Translate index.html into other languages"
* [x] French - `index-fr.html` @ArtPoon?
* [x] Chinese - `index-zh.html` @MomomomoLiu ?
* [x] Spanish - `index-es.html` @horaciobam
* [ ] Hindi - `index-hi.html`
* [ ] Tamil - `index-tl.html` @GopiGugan

[2021-01-27 14:43] ArtPoon commented on #174
* Add &#128317; (`&#128317;`) button above time-scaled tree to save Newick tree to local filesystem.
* Add same symbol to beadplot axis to serialize as Newick tree.

[2021-01-27 22:18] #174 closed

[2021-01-28 02:54] ArtPoon commented on #208
Compressed `searchtext` attribute

[2021-01-28 02:55] ArtPoon commented on #208
Countries now entabulated client-side

[2021-01-28 02:55] ArtPoon commented on #208
[code]
Much more compact!

[2021-01-28 02:57] #231 closed

[2021-01-28 02:58] ArtPoon commented on #225
The second call is stratified by variant (entabulating country attributes over samples for a given collection date).  From this week's meeting it doesn't sound like this is a major performance loss, so I'm closing.

[2021-01-28 02:58] #225 closed

[2021-01-28 03:02] ArtPoon commented on #233
I'll start working on the French, unless we can get @davidchampredon back
:grin:  :fr:

[2021-01-28 03:08] ArtPoon opened #234 "Date sort in Samples table is not visible"
<img width="151" alt="Screen Shot 2021-01-27 at 10 07 58 PM" src="https://user-images.githubusercontent.com/1109328/106084308-1ec97680-60ec-11eb-9dd5-98232d371916.png">

Doesn't seem to be affected by the vertical scroll (which disappears when number of rows fits into fixed height.

[2021-01-28 03:08] ArtPoon commented on #234
By "sort" I'm referring to the up-down triangles that are visible to the left of **Date** (those are associated with sample name).

[2021-01-28 03:52] ArtPoon commented on #208
Ran Chrome Lighthouse, looks like this would really be worth doing:
https://web.dev/uses-text-compression/?utm_source=lighthouse&utm_medium=devtools

[2021-01-28 14:53] ArtPoon commented on #177
Experiment with rooting consensus trees first

[2021-01-28 15:25] ArtPoon opened #236 "Make summary statistic for depth of sampling"
I think we can use the number of unsampled lineages (ancestral nodes in the tree that have not been directly observed) as a way to estimate the number of unsampled infections.

[2021-01-28 15:56] ArtPoon commented on #208
@gopigugan would you be able to figure how to configure the client request to have the server send gzipped `clusters.json`, to be expanded client-side?  I created a test file on the webserver at `covizu/data/temp.json.gz` but haven't been able to get this to work:
[code]

[code]

[code]

[code]

[2021-01-28 16:01] gopigugan commented on #208
Sure. I can look into this

[2021-01-28 17:26] ArtPoon commented on #208
Thanks - I've confirmed that `mod_deflate` is enabled on the webserver.

[2021-01-28 23:17] gopigugan commented on #208
Image of the response header:

![GET_request](https://user-images.githubusercontent.com/35086217/106208063-c7311680-6190-11eb-9890-3b9682086fc3.png)

A few others ran into a similar problem:
https://stackoverflow.com/questions/20859246/no-auto-decompression-of-gzipped-json-on-browsers-side-when-using-angulars-htt?noredirect=1&lq=1
https://stackoverflow.com/questions/19308318/ajax-loadin-file-json-

[2021-01-29 01:12] #234 closed

[2021-01-29 02:57] ArtPoon commented on #208
Currently we don't have an `.htaccess` file in `/var/www/html` or `/var/www/html/covizu` - should we make a new one in the latter location?

[2021-01-29 02:58] ArtPoon commented on #208
Those forums are pretty old, we should verify this `.htaccess` configuration in more recent documentation or forum threads.

[2021-01-29 03:01] ArtPoon commented on #208
Also it should be possible to have the server compress the JSON file (uncompressed) while transmitting it to client, but the documentation I've seen so far would compress *everything* and I'd rather focus on this one file.

[2021-01-29 04:12] gopigugan commented on #208
Okay. I'll double-check documentation on ``.htaccess``

[2021-01-29 17:21] ArtPoon commented on #208
I created a file `.htaccess` at `/var/www/html/covizu` with the following content:
[code]
and then navigated to http://filogeneti.ca/covizu/ and ran this in the console:
[code]
so this doesn't seem to be working so far - maybe we haven't set the request headers correctly?
@gopigugan

[2021-01-29 17:33] gopigugan commented on #208
I tried making changes to the request headers:

[code]

But this didn't seem to work.

I've quickly set up a local apache server so I'm going to try making some changes and see if I can get it to work

[2021-01-31 01:09] gopigugan commented on #208
I looked into documentation for ``mod_deflate`` and figured out how to configure it:
https://httpd.apache.org/docs/trunk/mod/mod_deflate.html

"``mod_deflate`` provides the ``DEFLATE`` output filter that allows output from your server to be compressed before being sent to the client over the network"

If we look into ``/etc/apache2/mods-enabled/deflate.conf ``, by default when ``mod_deflate`` is e

[2021-01-31 04:34] ArtPoon commented on #208
I would *prefer* to just compress `clusters.json`, but I don't *think* we're serving any other JSON files on the webserver...

[2021-01-31 05:00] ArtPoon commented on #208
@gopigugan ok let's test this Monday, I'll make the modification to the config then and then can you please run some quick tests at the same time?  Let's coordinate.

[2021-01-31 05:03] gopigugan commented on #208
Sure, sounds good

[2021-02-01 15:45] ArtPoon commented on #208
Made the above change and restarted the server.  Transfer time for `clusters.json` is down from 8.8 seconds to about 2 seconds.  Additional changes (simplification of data structure) should make for further improvements in page load time.

[2021-02-01 15:45] #208 closed

[2021-02-01 16:00] ArtPoon commented on #233
If we change the help text, then all the language versions would have to get updated as well, so we should probably wait until the text stabilizes somewhat.

[2021-02-01 16:01] #230 closed

[2021-02-01 16:09] ArtPoon commented on #221
This is a complicated issue because d3 is directly mapping data to SVG objects, so modifying the draw order of objects means modifying the underlying data.
Right now, samples of a given variant are sorted by collection date.

[2021-02-01 16:10] ArtPoon opened #237 "Enable user to move bead selection with arrow keys"
This would provide an alternative to having to click on a potentially obscured bead (behind a larger bead that represents other samples of the same variant).

[2021-02-01 16:19] ArtPoon opened #238 "Replace undefined support with "n/a" (not applicable) for tips"
in tool-tip information for vertical edges

[2021-02-01 16:37] GopiGugan opened #239 "Beads do not align with their respective dates on the timeline"
![Screen Shot 2021-02-01 at 11 30 07 AM](https://user-images.githubusercontent.com/35086217/106488194-70be2380-6481-11eb-931b-ea3187df312e.png)

[2021-02-01 18:33] #238 closed

[2021-02-01 18:43] #191 closed

[2021-02-02 17:20] ArtPoon opened #240 "Jan 31 job still running as of Feb 2"
File listing, sorted by mod date:
[code]

[code]

[2021-02-02 17:21] ArtPoon commented on #240
Something's clearly wrong, I'm going to have to kill this job

[2021-02-02 17:23] ArtPoon commented on #240
Killing the job freed the error reporting system, crontab mail reveals memory allocation issues:
[code]

[2021-02-02 21:03] ArtPoon commented on #240
Installed new node today, but haven't been able to boot it into the cluster yet.
Testing dev branch:
[code]

[2021-02-02 21:05] ArtPoon commented on #240
Whoop, that command is outdated:
[code]

[2021-02-03 05:47] ArtPoon commented on #240
Forgot to set `--dry-run` flag to prevent script from transferring data files to webserver.
New command:
[code]

[2021-02-04 21:25] ArtPoon commented on #240
Ran successfully in about 22 hours - we really need that other server online.

[2021-02-04 21:25] #240 closed

[2021-02-05 18:51] ArtPoon commented on #161
Taking this off the backburner!  I think all we have to do is add the lineage name to the searchtext attribute..

[2021-02-05 18:58] ArtPoon commented on #161
Eh, this works but all the beads drop out - I don't want bead selection to be involved.
Also exact string match would be better, e.g., searching for `B.1.1.7` should jump to only that cluster, and not to `B.1.1.77` in addition to others with the same prefix.

[2021-02-05 19:11] ArtPoon commented on #161
@RouxCil @gopigugan - Would it be difficult to divert a search to a separate function (that only calls click event and focus on a cluster) if the query string conforms to a Pango lineage name?  The regex would be something like `[A-Z](\.[0-9]+)*`.

[2021-02-05 23:01] gopigugan commented on #161
I do not think this should be difficult. I can work on implementing this.

[2021-02-07 16:50] ArtPoon opened #241 "Treetime residuals are not reliable for divergence from clock"
Current display has B.1.1.7 having a residual of -0.91 (under-evolved) despite having mean of 36.08 differences from the root (which is very high).  The problem is that the residual is taken from the "representative" genome for each lineage used to construct the time-scaled tree, so it's inherently susceptible to sample variation.  We should use the mean difference count and sampling times instead

[2021-02-08 15:43] ArtPoon commented on #120
Should we consider making a post on virological?

[2021-02-08 16:03] ArtPoon commented on #236
@ConnorChato can you check your references for related papers?

[2021-02-11 21:49] ArtPoon opened #242 "Optimize JSON processing"
This is still pretty slow.  Current page load time on localhost (no file transfer) is about 5.4 seconds.
We still have a bottleneck in `parse_edgelist`:
<img width="523" alt="Screen Shot 2021-02-11 at 4 47 11 PM" src="https://user-images.githubusercontent.com/1109328/107702812-ca47fe80-6c88-11eb-9f2d-d2e1841d017e.png">

This was identified in #166

[2021-02-11 22:09] ArtPoon commented on #242
Ok storing elements of `points` Array in a map (Object), indexed by `y` coordinate eliminates this bottleneck.
<img width="468" alt="Screen Shot 2021-02-11 at 5 09 30 PM" src="https://user-images.githubusercontent.com/1109328/107704865-e9945b00-6c8b-11eb-8278-a07132162eef.png">
<img width="522" alt="Screen Shot 2021-02-11 at 5 09 10 PM" src="https://user-images.githubusercontent.com/1109328/107704

[2021-02-11 22:10] #242 closed

[2021-02-11 22:10] ArtPoon commented on #241
Fixed in `dev` branch

[2021-02-11 22:10] #241 closed

[2021-02-12 00:28] ArtPoon opened #244 "epicov branch"
Feature addition for GISAID EpiCoV branch:
* [x] annotate samples by age and gender (in tooltip for beads)
* [x] use GISAID location instead of country to region map, see #205
* [x] enable HTTPS (SSL certificate)
* [ ] require user to connect via HTTPS
* [x] check for valid session ID

[2021-02-14 16:54] ArtPoon opened #245 "Incorrect scaling in timetree"
One lineage appears to be mapped to June 2021, but the latest collection date is Feb 2021:
<img width="428" alt="Screen Shot 2021-02-14 at 11 53 50 AM" src="https://user-images.githubusercontent.com/1109328/107883170-5ccfe400-6ebb-11eb-9ac4-6dafe0bf2a19.png">

[2021-02-14 16:58] ArtPoon commented on #245
Confirmed this appears in the `timetree.nwk` file – it is not a front-end problem:
<img width="600" alt="Screen Shot 2021-02-14 at 11 57 54 AM" src="https://user-images.githubusercontent.com/1109328/107883259-e1226700-6ebb-11eb-9363-4162a7385cf7.png">

[2021-02-16 15:37] ArtPoon commented on #245
I think this has something to do with timetree determining a tip to be more divergent than expected under a clock model, should do a manual run on the `by_lineage.json` data file on the cluster to reproduce.

[2021-02-16 15:42] ArtPoon commented on #244
Pushed new branch `epicov` to repo

[2021-02-16 22:01] ArtPoon commented on #244
Use `testdata.xz` on Orolo

[2021-02-17 02:28] ArtPoon commented on #244
[code]

Screwed up, forgot that adding `location` changes index of `accession` in pipe-delimited labels:
[code]

[2021-02-17 16:09] ArtPoon commented on #244
Problem with lineage with only one variant:
[code]

[2021-02-17 17:34] ArtPoon commented on #244
Script runs without errors, but output still contains dicts and not lists:
[code]

[2021-02-17 19:41] ArtPoon commented on #244
Seems to be working now:
[code]

[2021-02-17 19:50] ArtPoon commented on #244
Try replacing all `unknown` values with empty string to reduce file size.
Clusters JSON on test file `working/reduced.2021-02-15.json.xz` is currently 1990471 bytes.

[2021-02-18 02:17] ArtPoon commented on #244
`Number of cases` has no value in tooltips

[2021-02-18 05:01] ArtPoon commented on #244
Got table populated with metadata
Also trying to provide visual feedback, when user mouseovers a table row, the corresponding bead is highlighted - however this is not working for rows that represent samples subsumed into a larger bead (multiple samples in same bead).  Not sure how to deal with this.

[2021-02-18 05:04] ArtPoon commented on #244
I think I need to pass the `variant` field from `beaddata.points` to the table row level, preferably without displaying it.

[2021-02-18 18:04] ewong347 opened #246 "Session check for GISAID branch"
Creating an issue to track progress of implementing Session check using GISAID API

[2021-02-18 18:05] ArtPoon commented on #244
Replace with #246

[2021-02-19 04:18] ArtPoon commented on #177
Experimented with treetime rooting of B.1.1.7 consensus tree.  I modified `beadplot.py` as follows:
[code]

Ran this modified script with:
[code]
Found that letting `treetime` estimate the clock rate gave a better fit but a bad estimate (not enough data), so I constrained the rate to `8e-4` as usual:
[code]

The end result is quite interesting:
![timetree-export](https://user-images.githubusercont

[2021-02-19 16:05] ArtPoon commented on #180
Ok I'm going to try this again because GISAID needs the site to run with SSL - otherwise you can't `iframe` out to an unencrypted site from an `https://` site.

[code]

I should be able to modify the domain names covered by this certificate:
https://certbot.eff.org/docs/using.html?highlight=domain#changing-a-certificate-s-domains

[2021-02-19 16:08] ArtPoon commented on #180
Dry run:
[code]

[2021-02-19 16:09] ArtPoon commented on #180
Okay I'm going to attempt to modify the SSL certificate to cover `filogeneti.ca`.
Opening new issue in PoonLab repo to track.

[2021-02-19 17:39] ewong347 commented on #246
@ArtPoon Do you happen to know what our client_id is?
The GET api isn't working (even using a sid that is valid + the one they provided in their documentation)

[2021-02-20 18:31] ArtPoon commented on #244
Reopening, need to require users to connect to epicov site via HTTPS

[2021-02-22 15:23] ConnorChato commented on #236
A strategy may be to treat the unsampled populations as "ghost" populations to get an estimate of total variation, then compare that to within-sample variation. That seems to be something that these articles are interested in.
https://pubmed.ncbi.nlm.nih.gov/15012758/
https://www.biorxiv.org/content/10.1101/733600v2.full
https://onlinelibrary.wiley.com/doi/full/10.1111/j.1365-294X.2004.02393.x?cas

[2021-02-22 15:43] ArtPoon opened #250 "Use "wait" cursor style when switching bead plots"
Some beadplots involve rendering an enormous SVG, which can take about 10 seconds.  It would be helpful to let the user know something is happening, instead of having an apparently frozen web page.
See CSS `cursor:wait`:
https://developer.mozilla.org/en-US/docs/Web/CSS/cursor

[2021-02-22 15:55] #205 closed

[2021-02-22 15:55] #180 closed

[2021-02-26 15:09] horaciobam opened #251 "Save SVG button"

[2021-02-26 15:16] horaciobam commented on #251
* Current implementation uses [d3-save-svg library](https://github.com/edeno/d3-save-svg) with a Copyright (c) 2013 The New York Times [LICENSE](https://github.com/edeno/d3-save-svg/blob/gh-pages/LICENSE).
* I am only saving the beadplot svg. Do we want to save the entire page?

[2021-02-26 15:26] ArtPoon commented on #251
* Ah, that's the MIT license - we're releasing under the same license so that's okay.  Thanks!
* I think we should give the user of just exporting the beadplot SVG being displayed to their local computer.

[2021-02-26 15:28] ArtPoon commented on #251
My approach to depositing someone else's code that's been released under such a license is to add their license to the repo as well, with a prefix or suffix that indicates which file it is associated with.

[2021-02-26 16:24] ArtPoon commented on #246
GISAID just reconfigured our user accounts so that the CoVizu tile should appear.

[2021-02-26 16:41] ewong347 commented on #246
CoVizu title appears for me on GISAID website.
Site fails to load using our validation:

[code]

I think loading the script using cross-origin (iframe on epicov trying to load a js file on filogeneti.ca) is the cause. Although I'm not sure if we need to ask gisaid to allow filogeneti.ca (gisaid server side) or if we need to allow filogeneti to serve a file to gisaid(filogeneti server side). I gave

[2021-02-26 16:43] ewong347 commented on #246
I took a crack at making the changes I mentioned above, but reverted changes once I ran into the SSLCertification error above. Can @ArtPoon @GopiGugan take a look here? I think you guys fixed this issue over on the poonlab repo (# 208).

[2021-02-26 16:45] GopiGugan commented on #246
Can you try adding ``sudo`` to your command?

[2021-02-26 16:48] ewong347 commented on #246
I used sudo for commands involving the apache server, I wouldn't have the permissions to make changes otherwise.

[2021-02-26 17:55] #218 closed

[2021-02-26 17:56] #220 closed

[2021-02-26 17:56] #161 closed

[2021-02-26 17:56] #195 closed

[2021-02-26 17:57] #223 closed

[2021-02-26 18:00] #219 closed

[2021-02-26 22:03] ArtPoon commented on #246
https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS/Errors

[2021-02-26 22:12] ArtPoon commented on #246
I agree with @GopiGugan 's comment, running that command as `sudo` should return no error.

[2021-02-26 22:13] ArtPoon commented on #246
[code]

[2021-02-26 22:51] ArtPoon commented on #246
Working through the same workflow as @ewong347

* Modified `.htaccess`
[code]
* Ran `apachectl configtest` and `apachectl -k graceful`.
* Main page still loads ok.
* Ran into same problem with GISAID page, *i.e.*, `No 'Access-Control-Allow-Origin' header is present on the requested resource.`
* confirmed `headers` module is not loaded
* ran `a2enmod headers`, creating symlink in `mods-enabled`
* `

[2021-02-26 22:55] ArtPoon commented on #246
Attempting to load from GISAID still returns a CORS error, but now there's a `POST` error message in the console:
[code]

[2021-02-26 23:10] ArtPoon commented on #246
Still getting same error but now there's a `POST` request associated with it...

[2021-02-28 01:24] ewong347 commented on #246
Updated /epicov/ branch of filogeneti with above changes.

[2021-02-28 01:24] #246 closed

[2021-02-28 01:31] ArtPoon commented on #244
Need to write a script that modifies `clusters.json` to `epicov` format by drawing information from provision `xz` file.  This would make our lives easier!

[2021-02-28 19:08] #244 closed

[2021-03-01 00:52] ArtPoon commented on #251
Looks good @horaciobam thanks

[2021-03-01 03:27] ArtPoon opened #252 "Incorporate convert-json.py into pipeline"
This is a Python script that I wrote (currently in `epicov` branch) that converts `clusters.json` to the format required by that branch.

[2021-03-01 03:27] ArtPoon commented on #252
When we complete a run with `master`, we need to call out to this script to generate a copy for EpiCoV and transfer that JSON to the corresponding folder on `filogeneti.ca`.
Probably should incorporate it into the Python utilities folder.

[2021-03-01 14:24] ArtPoon opened #253 "Stuck pipeline"
Started a job late last Friday, appears to be stuck:
[code]

Investigating `/var/log/messages` suggests that we ran into memory allocation problems:
[code]

[2021-03-01 14:24] ArtPoon commented on #253
Looks like `n3` wasn't alone:
[code]

[2021-03-01 14:27] ArtPoon commented on #253
All nodes reporting crashed threads from memory allocation.
Kill current job, modify `mfile`.
Check `batch.log` to confirm this is associated with B.1.1.7 or another large sample variant.

[2021-03-01 14:29] ArtPoon commented on #253
`batch.log` shows error message:
[code]

[2021-03-01 14:54] GopiGugan commented on #239
The issue was a result of different times associated with each date:

``Tue Jul 28 2020 20:00:00 GMT-0400 (Eastern Daylight Time)``
``Thu Jan 21 2021 19:00:00 GMT-0500 (Eastern Standard Time)``

[2021-03-01 15:29] ArtPoon commented on #239
Seriously?  It was because of daylight savings?  😆

[2021-03-01 15:44] ArtPoon commented on #251
Broken in `dev` branch:
[code]

[2021-03-01 15:47] ArtPoon commented on #251
The problem is that on a freshly loaded page, there is no cluster selected.  Clicking on a cluster prevents this error from occurring.
Fix: make sure that the top cluster is selected on page load.

[2021-03-01 15:53] #250 closed

[2021-03-01 15:57] #239 closed

[2021-03-01 16:02] ArtPoon commented on #237
Looks great, but can we please avoid using the search interface highlighting?

[2021-03-01 16:04] ArtPoon commented on #233
Please make sure the language-specific index pages track the main page, *e.g.*, new SVG download button.

[2021-03-01 16:25] GopiGugan commented on #251
Sorry @horaciobam, I broke the SVG button by forgetting to initialize the ``cindex`` variable when I made some changes. Works fine now.

[2021-03-01 16:26] #251 closed

[2021-03-01 17:10] ArtPoon commented on #253
For now, I think the most effective solution is to limit the number of unique genome variants per lineage to the most recent 20,000 (not including the "trunk" variant).

[2021-03-01 19:58] ArtPoon commented on #253
Modified `clustering.py` to limit number of variants per lineage to a maximum of 10,000, sorted by most recent collection date.  Testing on cluster with invocation:
[code]

[2021-03-01 21:13] ArtPoon commented on #253
Cutoff seems to be working properly:
[code]

[2021-03-02 15:01] ArtPoon commented on #253
Pipeline took 10 hours with a 10,000 variant limit.
[code]

Confirmed filter was applied and substantially reduced number of samples:
[code]

[2021-03-02 15:58] ArtPoon commented on #253
Try re-running with a limit of 20,000 and compare distribution of sample dates.

[2021-03-04 03:18] ArtPoon opened #255 "Add slider to filter vertical edges by "genomic distance""
This may help clear up the really cluttered beadplots for large lineages.

[2021-03-04 03:50] #253 closed

[2021-03-04 03:50] ArtPoon commented on #252
Note this also has to copy over `dbstats.json` and `timetree.nwk` into `epicov` folder

[2021-03-05 02:45] ArtPoon opened #257 "epicov sample table getting squished instead of scrolling"
<img width="288" alt="Screen Shot 2021-03-04 at 9 45 01 PM" src="https://user-images.githubusercontent.com/1109328/110059806-f52aed00-7d32-11eb-86f1-7eb937c7882f.png">

[2021-03-05 03:39] #257 closed

[2021-03-05 03:42] ArtPoon opened #258 "epicov merge snafu"
[code]

[2021-03-05 03:46] ArtPoon commented on #258
Currently the stable commit in `epicov` branch is `10b53bf`.
I have the webserver sitting at `0fa792e`

[2021-03-05 03:49] ArtPoon commented on #258
I think the problem is that I forgot I had merged from `dev` into `epicov` before issuing a PR (gah!).
Probably need to start from `10b53bf` and build forward again.  Sorry @GopiGugan

[2021-03-05 03:51] ArtPoon commented on #258
Thanks @GopiGugan, I'll restore `epicov` to HEAD, pull from origin and try again on the webserver

[2021-03-05 03:55] ArtPoon commented on #258
Argh still getting this error:
[code]
Works locally though, what the heck?

[2021-03-05 03:56] ArtPoon commented on #258
Oh yeah, that stuff was commented out when I pulled.

[2021-03-05 04:00] ArtPoon commented on #258
We're all good now.  Had to copy over this in `utils.js`:
[code]

[2021-03-05 04:01] #258 closed

[2021-03-05 16:01] ArtPoon commented on #177
Let's start with annotating clusters (lineages) with consensus mutations.  These can be deposited in `dbstats.json`.

[2021-03-07 17:55] ArtPoon commented on #252
Modified `batch.py` as follows:
[code]
Checkout `dev` branch on cluster and do a live test.

[2021-03-10 16:50] ArtPoon commented on #236
There was also a talk at Dynamics about the nucleotide diversity measure (calculated from pairwise comparison of sequences, population genetics) as a rough estimate of prevalence - might be worth tracking that down.

[2021-03-10 16:55] ArtPoon commented on #221
@GopiGugan doing some optimization of this, can close when that's done

[2021-03-10 16:57] ArtPoon opened #259 "Front-end unit testing"
Either look into an automated unit test suite for JavaScript (?) or develop a checklist of front-end functionality, or both.

[2021-03-10 17:24] ArtPoon commented on #252
Nuts, caught a bug:
[code]

[2021-03-10 17:26] ArtPoon commented on #252
`args.infile` is a string.
Stick on cron and hope for the best.

[2021-03-10 17:50] ArtPoon commented on #252
Watch for cron job to process properly (`dev` branch on cluster) before merging changes into `master`.

[2021-03-11 05:16] ArtPoon commented on #255
Working on this on `iss255` branch

[2021-03-11 05:17] ArtPoon opened #260 "Enable "AND" for search interface"
For example, to search for `B.1.1.7 and Canada`

[2021-03-11 05:19] ArtPoon commented on #255
I've got this working but redrawing large beadplots makes the animation really sluggish if I bind a `slide` event (triggers whenever user moves slider button).  For now I am binding the `slidechange` event (user changes slider and then stops) instead.

[2021-03-11 05:20] ArtPoon commented on #255
Since the user doesn't get feedback in the beadplot with `slidechange`, it would be nice to bind `slide` to a text readout of current edge length cutoff.
Also would be nice to render slider and its label to the right.
<img width="708" alt="Screen Shot 2021-03-11 at 12 20 29 AM" src="https://user-images.githubusercontent.com/1109328/110739649-974d4800-81ff-11eb-8002-7d152a82964c.png">

[2021-03-11 05:56] ArtPoon commented on #255
Resolved issue with binding lots of event listeners to slider

[2021-03-11 19:10] ArtPoon commented on #252
Run completed today.  Main page was updated and ran OK.  GISAID page was updated but failed to display beadplots (stuck in loading state).  I logged onto the cluster to investigate and found determined that the JSON file uploaded to the webserver was slightly smaller than a JSON filter that I manually converted via `convert-json.py`:
[code]
where `clusters.json.bak` is the version that was uploade

[2021-03-11 20:04] ArtPoon commented on #252
Changed `batch.py`:
[code]

[2021-03-11 21:25] #221 closed

[2021-03-12 02:23] #255 closed

[2021-03-12 02:23] #209 closed

[2021-03-12 02:24] #24 closed

[2021-03-12 02:25] ArtPoon commented on #43
I think this is mostly resolved with rescaling by window size #132 and filtering edges by genomic distance #255

[2021-03-12 02:25] #43 closed

[2021-03-13 17:29] ArtPoon commented on #233
I've made a bunch of changes to `index.html` and JS files to facilitate localization.

First, the top of `<body>` in `index.html` contains a JSON object that maps keywords to text:
[code]

The JS files retrieve language-specific text from this object by referencing `i18n_text`.
For example, in `drawtree.js:generate_legends()`, `key` held geographic regions, *e.g.*, "North America", which are now m

[2021-03-13 19:12] ArtPoon commented on #252
Successful run.  Push changes to master.

[2021-03-13 19:12] #252 closed

[2021-03-15 11:07] babarlelephant opened #262 "traduction française"
Bonjour, je suis français, j'ai fait un premier jet en 20 minutes,
je n'ai pas mis les accents et j'ai laissé les paragraphes en anglais.

Dites-moi si vous voulez que je le finisse.

https://github.com/babarlelephant/covizu/blob/master/index-fr.html

[2021-03-15 13:06] ArtPoon commented on #262
Merci beaucoup!  Pouvez-vous faire une PR à la branche `dev`?

[2021-03-15 14:52] ArtPoon opened #263 "Map numeric keys to edge cutoff slider if selected"
To make it easier to set the slider to exactly 2, for example.

[2021-03-15 14:59] ArtPoon commented on #237
Moving between beads manually with a search active does not affect the index of matching samples.  Ideally, this index (i.e., x of y) should update as the user moves from one bead to another (but only for beads that correspond to matching samples).

[2021-03-16 04:42] ArtPoon opened #264 "Flag lineages with reduced genome counts"
Limiting the number of genomic variants to 10,000 per lineage is a huge help for processing, and is at the upper limit of what is useful for beadplots - however, the problem is that we end up excluding a lot of data for the largest lineages (e.g., B.1.1.7).  We need some way of annotating the lineage elements to indicate to the user we were unable to incorporate some number of genomes, perhaps als

[2021-03-18 02:37] #262 closed

[2021-03-18 02:37] ArtPoon commented on #233
See user contribution #262

[2021-03-19 20:13] ConnorChato commented on #236
This certainly isn't a detailed measurement, but to start, I wrote a simple R script to count up base substitutions within pangolin lineages and divide that by the number of unique genomes. It looks like within a given lineage, a typical average of 1.4 substitutions defines a unique genome. This ranges from ~0.7 - 3.5 in the sample of old lineages I had on Erasmas. Assuming we have a steady rate o

[2021-03-22 02:11] ArtPoon opened #268 "Vertical edge feedback broke for large lineage"
On main server (filogeneti.ca)
Update 2021-03-21
Lineage B.1.1.162
[code]

[2021-03-22 02:13] ArtPoon commented on #268
Very strange, I switched to another lineage and back, and the problem disappeared.

[2021-03-22 05:09] GopiGugan commented on #268
The issue seems to be because of the circle element with class "selectionH" (the outline around a bead to identify selected beads).

[2021-03-22 14:56] ArtPoon commented on #260
We had some discussion about use cases and whether to limit users to a single AND operation, or unlimited AND.  Decided to mothball this feature addition for now.

[2021-03-22 15:07] ArtPoon commented on #236
At dev meeting, discussed:
* whether it is possible to quantify whether a large lineage is undersampled
* whether we need to introduce a Poisson correction for multiple hits/reversions in computing distances

[2021-03-22 15:08] ArtPoon opened #269 "Weirdness in cluster highlighting"
To reproduce:
* search for a lineage
* click away to another lineage
* that lineage on the timetree is now highlighted as well

[2021-03-24 01:24] #237 closed

[2021-03-24 01:24] #269 closed

[2021-03-24 01:25] #268 closed

[2021-03-24 22:04] ConnorChato commented on #236
I played around with TN93 and minimum spanning trees in python today and got some reasonable looking measurements (average tn93 distance in mst from 6.4e-5 to 2.9e-4 across a few of the smaller lineages).

I think that this covers the two topics at meeting.
- large lineages that contain huge diffs are fine, because those large differences are not represented in the mst
- It uses an evolutionary mo

[2021-03-29 14:28] GopiGugan commented on #215
WIP: Need to go back to the `utils` scripts and test edge cases.

[2021-03-29 14:32] GopiGugan commented on #215
- [ ] batch_utils.py
- [ ] gisaid_utils.py
- [ ] pangolin_utils.py
- [ ] seq_utils.py
- [ ] beadplot.py
- [ ] clustering.py

[2021-03-29 14:55] ArtPoon commented on #233
Maybe wrap this in a `document.ready` event handler?
[code]

[2021-03-29 15:18] GopiGugan commented on #233
The above error is because there are a couple of items missing from `i18n_text` in `index-zh.html`. The following need to be added:

[code]

[2021-03-29 15:19] ArtPoon commented on #233
Great thanks for catching that @GopiGugan

[2021-04-02 20:39] ConnorChato commented on #236
Pulled some of the trees as .nwk files from the covizu app and found MST using patristic distances in R.
Still end up being exponential time complexity (bad)
![image](https://user-images.githubusercontent.com/24962136/113450917-e174b400-93ce-11eb-85ce-859e9831b621.png)

The MST distances are somewhat correlated (pearson, 0.64) with mean pairwise patristic distances which are way easier to get, but

[2021-04-05 15:09] ArtPoon commented on #236
@ConnorChato can you add this calculation with Python as an additional annotation for the `dbstats.json` file?

[2021-04-05 16:51] ArtPoon commented on #177
Making new branch `mutation`

[2021-04-05 17:23] ArtPoon commented on #177
https://github.com/PoonLab/covizu/blob/d0034c25acf35307a85da3e98f8a66fb80c91709/covizu/utils/batch_utils.py#L125-L144

[2021-04-05 22:12] ArtPoon commented on #177
Test script
[code]

[2021-04-06 01:10] ArtPoon commented on #177
Drilling down on B.1.351, feature `('~', 5229, 'T')`.  Note 5229 is 0-index:
https://github.com/PoonLab/covizu/blob/e99e9658ba0894e1e5bdaf03c2df9a72c4cc593d/covizu/minimap2.py#L87
This should be orf1a K1655N.

[2021-04-06 03:18] ArtPoon commented on #177
Got backend implementation done, running test.

[2021-04-06 03:36] ArtPoon commented on #177
excerpt from resulting `dbstats.json`:
[code]

[2021-04-06 04:18] ArtPoon commented on #177
Implemented in commit adb3e6293a6e9a47751218789c5e598c7dce31b3

[2021-04-06 14:44] ArtPoon opened #271 "Find all countries that do not have entries in countries.json"
[code]

[2021-04-06 23:54] #271 closed

[2021-04-06 23:57] ArtPoon opened #273 "Can B.1.1.7 be split?"
Generated a table of features for all B.1.1.7 genomes with following Python script:
[code]

[2021-04-07 20:50] ArtPoon commented on #177
Test run failed with exception:
[code]

Also forgot what language I was writing in, had to replace `alt.length` with `len(alt)`

[2021-04-07 23:19] ArtPoon commented on #177
[code]

[2021-04-07 23:27] ArtPoon commented on #177
[code]
Determined that I had the wrong coordinates for `orf7a`.  Fixed.

[2021-04-08 02:16] ArtPoon commented on #177
Used the following script to patch the `dbstats.json` file:
[code]

[2021-04-08 03:12] ArtPoon commented on #177
Ok these repaired data files work.

[2021-04-08 03:20] ArtPoon commented on #177
Do one more dry run

[2021-04-08 03:20] #177 closed

[2021-04-08 16:58] ArtPoon commented on #273
Resulting data frame has 86,516 rows and 8840 columns.
Frequency distribution of features that appear in at least 10 genomes:
<img src="https://user-images.githubusercontent.com/1109328/114066643-f25b7480-9869-11eb-81a7-6a43d735de7b.png" width="500px"/>

[2021-04-08 18:57] ArtPoon commented on #273
Some polymorphisms at intermediate frequencies:
[code]
separate these data in a PCA:
![plot3d](https://user-images.githubusercontent.com/1109328/114081573-b977cb80-987a-11eb-856e-59864b99d766.png)

[2021-04-09 03:06] ArtPoon commented on #273
Looks like this is in progress by PANGO team
https://github.com/cov-lineages/pango-designation/issues/39#issuecomment-812408067

[2021-04-09 14:34] GopiGugan opened #274 "TypeError when hovering over a cluster"
[code]

[2021-04-09 14:39] ArtPoon commented on #274
Is this on the main page?
Are you using a current set of JSON data files?

[2021-04-09 14:40] ArtPoon commented on #274
@GopiGugan I can't reproduce this error on the main page

[2021-04-09 14:41] GopiGugan commented on #274
That makes sense. I didn't download the new set of JSON files. Sorry!

[2021-04-09 14:43] #274 closed

[2021-04-10 17:08] ArtPoon commented on #236
@ConnorChato have you seen this?
https://evolution.gs.washington.edu/papers/ne/ne.pdf

[2021-04-10 20:35] ConnorChato commented on #236
Yup! That's another good way of doing it. If I understood it right, it seems like it's also interested in just a subset of divergence measurements instead of all the pairwise differences. I guess either way, we calculate a full difference matrix before building the tree.

[2021-04-12 14:22] ArtPoon commented on #245
Happened again with 2021-04-11 update:
<img width="250" alt="Screen Shot 2021-04-12 at 10 22 13 AM" src="https://user-images.githubusercontent.com/1109328/114409940-f4c71280-9b78-11eb-8b83-2e0bd452dc8b.png">

Note lineage B.6.7 knocks the root back to August 2019

[2021-04-12 22:25] ConnorChato commented on #236
Gradually dropped tips from the larger NJ trees to simulate sparse sampling (dropping 0-90% of tips). I found that the distances in the MST and the minimum tip-tip distances were typically correlated with the proportion of tips dropped (0.85-0.90). Not nearly as strong a correlation for mean pairwise distances in each tree. @ArtPoon Is this simulation appropriate for the kind of trees we're buildi

[2021-04-13 23:48] ArtPoon commented on #245
Regenerated `by_lineages.json` from archived provision file and re-ran TreeTime:
[code]

[2021-04-14 03:31] ArtPoon commented on #245
Estimating clock rate as a free parameter didn't help:
[code]

[code]

[2021-04-14 03:45] ArtPoon commented on #245
Using a relaxed clock model didn't help:
[code]

It looks like this step might even precede fitting the relaxed clock model:
[code]

[2021-04-14 03:48] ArtPoon commented on #245
Ok, I think we have to fix this in post processing.

[2021-04-14 04:07] ArtPoon commented on #245
Checked the treetime issue tracker, found this thread:
https://github.com/neherlab/treetime/issues/145

`--clock-filter 0` does seem to retain the original tip dates.

[2021-04-14 04:36] ArtPoon commented on #245
Testing latest commit:
[code]

[2021-04-14 15:29] GopiGugan commented on #263
Should we add an input field so that the user can enter the value?

![Screen Shot 2021-04-14 at 11 26 28 AM](https://user-images.githubusercontent.com/35086217/114736807-6b4c4780-9d14-11eb-82fe-84b6c836adcb.png)

[2021-04-14 15:54] ArtPoon commented on #263
I'm not a fan of the additional input

[2021-04-14 16:26] ArtPoon commented on #245
Got the results from this test, this fixes the problem of long terminal branches but we're still having an issue with lineage B.6.7:
<img width="760" alt="Screen Shot 2021-04-14 at 12 25 29 PM" src="https://user-images.githubusercontent.com/1109328/114745268-81f69c80-9d1c-11eb-93b8-6934e44fe8f9.png">

[2021-04-14 16:43] ArtPoon commented on #245
Look like the B.6.7 representative genome is problematic, with a lot of miscalled bases.
The Goldman lab VCF got updated recently, should incorporate the latest version and see if it screens these out.

[2021-04-14 17:59] ArtPoon commented on #245
[code]

[2021-04-14 19:01] ArtPoon commented on #245
Yup, new filters fixed the problem.  Need to push to master branch.

[2021-04-14 20:11] ArtPoon commented on #245
Close after next run

[2021-04-15 18:10] ArtPoon commented on #236
Yeah pruning tips seems like a reasonable approximation of incomplete sampling to me (with the assumption that this missingness is completely at random).  I think it would be better to isolate the consensus tree before it gets serialized into a beadplot, since that step is collapsing branches into polytomies with the side effect of reducing overall tree length.

[2021-04-15 20:01] ArtPoon opened #276 "Lab/author tooltip stops working"
This happened when I was browsing the sample details table for lineage B.1.1.121.

Error messages in console:
[code]

[2021-04-16 18:27] GopiGugan commented on #276
This line seems to be the issue

[code]

Should fetch ``'https://www.epicov.org/acknowledgement/06/58/EPI_ISL_1400658.json'`` instead

[2021-04-19 19:23] ConnorChato commented on #236
Terminal branch lengths also work under this simulation. A little bit of a stronger correlation actually. Slightly faster too.

[2021-04-21 00:39] ArtPoon commented on #245
Beh, tree was still warped with latest run:
<img src="https://user-images.githubusercontent.com/1109328/115480409-6a397f80-a218-11eb-9267-ac8005329105.png" width="200px">

[2021-04-25 13:43] animesh-workplace opened #277 "Split in B.1.617 not included in covizu"
## Checkout this issue
https://github.com/cov-lineages/pango-designation/issues/49

B.1.617 has been split into 3 different lineages but the recent update of the covizu application doesn't recognize it. Please could you update it.

[2021-04-25 15:34] ArtPoon commented on #277
Hi @animesh-workplace!  When new lineage designations are declared, it takes a while for those to make their way to being visualized in our system, for a number of reasons.  First, genomes in GISAID need to be reannotated with the updated nomenclature, for which there is an unknown delay that depends on how often they update their nomenclature and how often they reprocess the entire database.  Sec

[2021-04-26 01:00] animesh-workplace commented on #277
@ArtPoon  My understanding was that covizu annotates the pango lineages. Is there a way to run a local version of covizu with my annotation of all GISAID samples and generate the timescaled tree.

[2021-04-26 13:23] animesh-workplace commented on #277
I checked the recent update has the new sublineages. Thank you!!

[2021-04-26 14:04] ArtPoon commented on #277
@animesh-workplace  Ok glad that the new lineage info made its way to the front-end.  If you *do* want to run a local version, you can clone this repo and run the script `local.py` using a FASTA download from GISAID as the primary input.  (I implemented that script a while ago and haven't maintained it, so if you do try let me know if you run into any problems.)

[2021-04-26 14:10] ArtPoon commented on #276
I see - the original code assumed that accession numbers were 6 digits, right?

[2021-04-26 14:12] animesh-workplace opened #278 "Might be a bug"
Take a look at the position of B.1.609 in the first image. My concern is that B.1.609 might be wrongly placed in that position as it has only two similar mutations compared to the rest of the lineages in that cluster while others have lot more mutations.

Could you help me out in understanding why it positioned so?

![image](https://user-images.githubusercontent.com/55780901/116095452-0d314400-a6c

[2021-04-26 14:23] ArtPoon commented on #278
Ha, I was just preparing to write an issue up on exactly the same thing.
The tooltip does not list any synonymous substitutions — B.1.609 might share some in common with B.1.617, but I haven't checked.
The underlying problem is that we rely on using a single genome sequence per PANGO lineage to reconstruct this tree.  We are currently taking the most recent sample that is available for each PANGO

[2021-04-26 14:43] ArtPoon commented on #276
Let's run some tests and manually query their API using the last four digits of accession numbers to confirm that the return values are the same for 6-digit accessions.

[2021-04-26 14:49] ArtPoon commented on #245
Today B.6.7 is not located in a basal position in the tree, but it is nested in a clade along with B, which doesn't make very much sense.
<img width="252" alt="Screen Shot 2021-04-26 at 10 47 54 AM" src="https://user-images.githubusercontent.com/1109328/116102763-f87c8e00-a67c-11eb-9f1e-e63d25bf8a06.png">

I think this is related to #278.

[2021-04-26 15:03] ArtPoon commented on #245
One thing that may be happening is that the most recent genome that is classified as B is actually misclassified - the classifier only has the predefined set of lineage definitions available to it, and if the sequence cannot be assigned to any one of them with confidence, it will be assigned the best guess (which may default to high abundance lineages like B).

[2021-04-26 15:04] ArtPoon commented on #245
I will re-run the tree reconstruction (using today's data) taking the earliest samples instead of the most recent ones, and see what the tree looks like.

[2021-04-26 15:29] ArtPoon commented on #278
We noticed some other issues with the time-scaled tree, so we're going to investigate using the earliest samples instead of most recent samples.

[2021-04-26 16:39] animesh-workplace commented on #278
@ArtPoon Great work in creating such a nice visualization tool really helps a lot.
I have a suggestion instead of using the earliest/most sample to generate the time-scaled tree why not use the [PangoLEARN decision tree rules](https://github.com/cov-lineages/pangoLEARN/blob/master/pangoLEARN/data/decision_tree_rules.txt) to generate the time-scaled tree which might eliminate the uncertainty in the

[2021-04-26 17:08] animesh-workplace commented on #277
@ArtPoon I tried using local.py with the GISAID FASTA file and also used the lineage report generated by pangolin but I'm getting the following error
[code]

My lineage report has following things in it
[code]

[2021-04-26 17:32] ArtPoon commented on #277
Are you able to post the first header line of your FASTA file?  It looks like the format may have changed from what the script expects.

[2021-04-26 17:42] ArtPoon commented on #278
A couple of reasons:
- we do not do Pangolin classifications ourselves (although we used to) - instead, we use the labels in the GISAID database
- the decision tree rules are encoded by a 40MB file that is constantly being updated - I would rather minimize the number of inputs

[2021-04-26 17:44] ArtPoon commented on #245
Tree looks better (for example, `B` is now located close to the root) but the plotting is now all screwed up because we've broken the assumption that tips correspond to the most recent collection date:
<img width="263" alt="Screen Shot 2021-04-26 at 1 38 57 PM" src="https://user-images.githubusercontent.com/1109328/116127209-90867180-a695-11eb-85c8-c3a156c16d0d.png">

[2021-04-27 06:34] animesh-workplace commented on #277
FASTA header format in my FASTA file

[code]

[2021-04-27 06:39] animesh-workplace commented on #278
@ArtPoon Outbreak.info calls substitutions as lineage defining when it has reached to the 70% of the population in that lineage. They also use the same lineage classification provided by GISAID. May be you can look into that.

[2021-04-28 19:45] ArtPoon commented on #278
@animesh-workplace - thanks for this info.  We arbitrarily go with 50%, but we don't declare these to be "lineage defining" mutations either.

[2021-04-28 19:47] ArtPoon commented on #277
Sorry I should have realized your Pangolin report already contains headers.  Okay, so the first problem is that we are using pipe delimiters (`|`) instead of forward slashes (`/`).  We also assume that the second value (in your example, `NT12`) is a unique identifier like an accession number.  Finally, we require a complete sample collection date, so any sequences labelled with just `2020` are goi

[2021-05-01 00:25] GopiGugan commented on #276
Seems to work for 6-digit accessions.
e.g. EPI_ISL_542859 - https://www.epicov.org/acknowledgement/28/59/EPI_ISL_542859.json

[2021-05-01 00:25] #276 closed

[2021-05-01 16:51] animesh-workplace opened #279 "Collection date of the sample and position not matching"
Take a look at the position of India/MH-NCCS-86945, according to this image it looks like the collection date of this sample is 1st or 2nd October, 2020. But the actual collection date of this sample is 2021-02-13. It looks misleading and the first sample in this lineage is India/MH-NCCS-87448 with collection date 2nd October, 2020. Might be worth looking into.

![image](https://user-images.github

[2021-05-01 16:57] ArtPoon commented on #279
Hi @animesh-workplace, thanks for the feedback.  The left terminus of the horizontal line that represents the "root variant" for this lineage is drawn at 2020-10 because some of the descendant nodes in the tree were sampled at that time.  This is a limitation of the somewhat arbitrary rooting of the consensus NJ tree reconstructed from these data.  We have looked into re-rooting these trees using

[2021-05-03 14:36] ArtPoon commented on #236
Different lineages are going to have different mean terminal branch lengths, so it remains to be seen how informative this statistic (mean terminal branch length) will be at an among-lineage level

[2021-05-03 14:39] ArtPoon commented on #236
I think we need to have some sort of normalization method for comparison among lineages.
Also we are not using unsampled nodes as information.

[2021-05-03 14:47] ArtPoon commented on #245
Script to generate time-tree with earliest samples:
[code]

[2021-05-03 14:57] ArtPoon commented on #263
Another possibility would be to have the slider "click" on integer values, i.e., gets a bit stuck on those values so that it resists further motion from the user to some limit.

[2021-05-03 15:03] ArtPoon commented on #264
Currently the tooltip for B.1.1.7 reports that there are 11037 variants.  We are applying a cutoff of 10,000 variants per lineage.  There are 1362 unsampled variants (internal nodes without labels) in that tree.  We should try to figure out how we arrive at 11037 (and also the total number of variants).

[2021-05-03 15:05] ArtPoon commented on #264
Options for indicating the true number of variants to the user:
* modify tooltip text (number of variants)
* message at top of beadplot?
*

[2021-05-03 15:08] ArtPoon commented on #277
As this is unrelated to the original issue, I am closing this and migrating the delimiter problem to a new issue.

[2021-05-03 15:08] #277 closed

[2021-05-03 15:10] ArtPoon opened #280 ""Local" batch script should accommodate alternative delimiters"
Our "local" batch script assumes that FASTA headers are pipe (`|`) delimited - we should give users the option of specifying a different delimiter.
See #277

[2021-05-03 15:12] ArtPoon commented on #278
The original issue here is related to another issue, #245 that has also wandered.  Basically, we need to use earliest samples instead of most recent samples as lineage representative genomes for reconstructing the time-scaled tree.  Close both issues and create a new one that is on topic.

[2021-05-03 15:12] #278 closed

[2021-05-03 15:13] ArtPoon commented on #245
Issue has wandered off topic.  Replacing with new issue.

[2021-05-03 15:13] #245 closed

[2021-05-03 15:14] ArtPoon opened #281 "Reconstruct time-tree with earliest samples"
Using the most recent samples as lineage representatives is starting to yield time-scaled trees that are not consist with lineage definitions (i.e., lineage B, which should be ancestral/basal, is nested in a recent subtree).
See issues #278 and #245

[2021-05-03 15:18] ArtPoon commented on #279
Closing as duplicate of #58

[2021-05-03 15:18] #279 closed

[2021-05-03 15:30] ArtPoon opened #282 "Integration with Canadian data portal"
Refactored `local.py` into two separate scripts.
One script is used to combine and filter data into an xz-compressed JSON file, or append to an existing file.
A second script is used with this xz-JSON as the primary input for analysis.
[code]
may equivalently be run as:
[code]

[2021-05-09 18:22] bonnielu commented on #259
I looked into automated test suites for the front-end and it seems like [Cypress](https://docs.cypress.io/guides/overview/why-cypress#In-a-nutshell) would be a good fit. It's able to visit the page, then check for functionality by querying and interacting with the elements on the page. I tried it out earlier this week and was able to write and run tests for the dialog functionality.

[2021-05-10 14:48] ArtPoon commented on #215
Write test coverage script?

[2021-05-10 14:53] ArtPoon commented on #227
File size is not much of a problem, especially since many log messages have been reclassified as debug level

[2021-05-10 14:53] #227 closed

[2021-05-10 14:58] ArtPoon commented on #259
Thanks @bonnielu - please look into implementing a small test case so we can see how difficult it would be use Cypress

[2021-05-10 14:59] ArtPoon commented on #263
@GopiGugan can you please look into whether it would be feasible to implement a continuous-valued slider that sticks on integer values?

[2021-05-10 15:21] ArtPoon commented on #281
The Pango team maintains a listing of manually curated lineage assignments to genomes here:
https://github.com/cov-lineages/pango-designation/blob/master/lineages.csv

[2021-05-10 20:00] ArtPoon opened #283 "Darken rect elements in timetree"
Now that `rect` elements are no longer drawn behind the tree, it would be clearer to the user if we no longer use `opacity` at `0.5` as the default setting.  Instead I would like to try to fix `opacity` to `1` and darken the `rect` colour by some factor on mouseover events.

[2021-05-12 00:22] GopiGugan commented on #283
I set `opacity` to `0.8` instead of `1` but that can be changed. I felt like `0.8` allowed for the hovered `rect` element to pop out better

[2021-05-12 01:40] ArtPoon commented on #263
No that's not great - hm.  What if using the arrow keys causes slider (if selected, active element) to jump on increments of 0.5?

[2021-05-17 02:51] ArtPoon opened #286 "Mutation annotations"
@nodrogluap is maintaining a site:
https://people.ucalgary.ca/~gordonp/S-monoclonal_antibody_serial_passage_escape.html
tracking the literature on phenotypic characterization of SARS-CoV-2 mutations - I'm wondering if it would be possible to call out to that site API to annotate lineage mutations so that ones with known significance are highlighted in the tooltip.

[2021-05-17 13:51] GopiGugan commented on #215
Using [coverage.py](https://coverage.readthedocs.io/en/coverage-5.5/) to help write more tests for portions of the code that haven't been tested

[2021-05-17 15:00] ArtPoon commented on #263
@GopiGugan suggested adding arrow key buttons to this interface - let's try that

[2021-05-17 15:15] ArtPoon commented on #264
The total number of variants (unique feature vectors) for a given lineage is calculated here:
https://github.com/PoonLab/covizu/blob/ed13db6674a1ce8a24d751997ba67bf55f0e25da/covizu/clustering.py#L31-L39

However, that number is immediately truncated to the `limit` number of variants, and the actual number of variants is not being returned as output.

Two possibilities:
1. add a fourth output value

[2021-05-17 15:18] ArtPoon commented on #264
In the tool tip, *Number of variants* is meant to refer to the number of sampled (directly observed, sequenced) unique genomes.  We also use the term "variants" to refer to unsampled variants, *i.e.*, internal nodes of the tree.  The number reported should not include the latter (unsampled variants), so to clarify things we should change the tooltip label to *Number of sampled variants*.

[2021-05-17 15:26] ArtPoon commented on #264
Instead of limiting the length of `labels` in `recode_features()`, we can return *all* variants for the lineage and use that to communicate the information on the actual number of variants to higher levels.  The `labels` will be interpreted as a dictionary in `beadplot.py`, so there should be no harm in having the additional entries.

[2021-05-17 15:28] ArtPoon commented on #264
This is where we should transfer the number of variants from the backend to the frontend:
https://github.com/PoonLab/covizu/blob/93dfd6c7b77f79b13822c4716a99014e4a8771e4/batch.py#L150-L169

[2021-05-17 15:31] ArtPoon commented on #281
This has been changed in `dev` but it is not yet tested live.  See pull request.

[2021-05-17 15:33] #283 closed

[2021-05-18 19:46] ArtPoon opened #287 "Highlight selected cluster with bold text lineage label?"
@bonnielu would you be able to look into modifying the front-end so that the selected cluster (rect element in time tree) is rendered in bold?
<img width="269" alt="Screen Shot 2021-05-18 at 3 46 21 PM" src="https://user-images.githubusercontent.com/1109328/118713651-32f6c800-b7f0-11eb-8180-cddccff32141.png">

[2021-05-19 18:42] ArtPoon opened #288 "Pipeline runtime past 24 hours"
Currently we are getting close to 30 hours run time.  We will probably need to drop the update frequency from 2 days to 3 days to maintain the same cooldown time on the cluster.

[2021-05-23 15:32] #288 closed

[2021-05-23 15:33] ArtPoon opened #289 "Pipeline crash 2021-05-23"
[code]

[2021-05-23 15:36] ArtPoon commented on #289
Checked `mail` from `cron`:

[code]

[2021-05-23 15:53] ArtPoon commented on #289
Checked `mail` from `cron`:

[code]

[2021-05-23 15:54] ArtPoon commented on #289
Not sure what's happening here - whether it's B.1.1 or B.1.427 that caused problems - neither one of them have enough variants to cause an out-of-memory error.  There doesn't seem to be any other jobs running on the cluster that might have caused problems either.

[2021-05-23 16:11] ArtPoon commented on #289
Checking `/var/log/messages` (archived):
[code]
Not seeing any other processes on the nodes.

[2021-05-23 16:12] ArtPoon commented on #289
Manually restarted pipeline.  The crash seemed to occur right after reconstructing the time-scaled tree (first variant), so it shouldn't take long to reproduce the problem.

[2021-05-25 14:44] ArtPoon commented on #216
Implemented for `vsportal` branch

[2021-05-25 14:47] ArtPoon commented on #260
@GopiGugan suggested having additional search inputs instead of an `AND` operator, leaving this for further discussion

[2021-05-25 14:48] #263 closed

[2021-05-25 15:04] ArtPoon commented on #287
In progress!

[2021-05-26 02:50] ArtPoon commented on #282
Encountering some significant problems with the metadata TSV from the data portal:
* no region (North America) or country (Canada) fields
* there is no label that can be used to match rows in metadata table to sequence records in the FASTA file

[2021-05-26 16:55] ArtPoon commented on #282
Country and sequence labels are available as optional fields (see *Columns* drop-down).

[2021-05-26 17:31] ArtPoon commented on #282
Can now append to JSON xz file:
[code]

[2021-05-26 20:11] ArtPoon opened #290 "Duplicate filter_problematic functions"
One defined in `seq_utils.py` and another in `gisaid_utils.py`:
https://github.com/PoonLab/covizu/blob/3c718a61bc4c8df44a7c7242378162512949661d/covizu/utils/seq_utils.py#L251
https://github.com/PoonLab/covizu/blob/3c718a61bc4c8df44a7c7242378162512949661d/covizu/utils/gisaid_utils.py#L142

[2021-05-26 20:24] ArtPoon commented on #290
The `gisaid_utils` version is used in two locations:
* in that script's command line interface
* in `batch.py:process_feed()`:
  https://github.com/PoonLab/covizu/blob/3c718a61bc4c8df44a7c7242378162512949661d/batch.py#L99-L109

The `seq_utils` version is used in the command line interface for `minimap2.py`.
https://github.com/PoonLab/covizu/blob/3c718a61bc4c8df44a7c7242378162512949661d/covizu/mini

[2021-05-26 20:28] ArtPoon commented on #290
For now, just rename the `seq_utils` version to `filter_problematic2` since it's not actually part of the pipeline.  Later we should try to replace it with the `gisaid_utils` version.

[2021-05-27 01:00] ArtPoon commented on #282
Oops - serialized Python dicts are not equivalent to JSON after all because of the single quotes:
[code]
Fixed.

[2021-05-27 01:01] ArtPoon commented on #282
[code]

Should have an option for running without an MPI environment.

[2021-05-28 19:16] ArtPoon opened #292 "Add button to download lineage statistics as a CSV file"
Some users have wanted to download the divergence (residual) from the molecular clock model for lineages, which are currently displayed in tooltips.  Since this information is currently difficult to extract from the `tips` and `clusters` objects in the global namespace, it would be helpful to provide this as a downloadable table.

[2021-05-31 14:22] ArtPoon commented on #289
Crashed again:
[code]

Checking `mail`:
[code]

94:
[code]

95:
[code]

[2021-05-31 14:23] ArtPoon commented on #289
`/var/log/messages-20210530`:
[code]

[2021-05-31 14:26] ArtPoon commented on #289
[code]
Try reducing `n3` to 12 slots.

[2021-05-31 14:37] ArtPoon commented on #289
See if using Slurm can prevent this from happening:
https://www.penguincomputing.com/documentation/scyld-clusterware/7/admin-guide/admin-guide/batching.html?highlight=slurm

[2021-05-31 14:38] ArtPoon commented on #215
@GopiGugan to update CONTRIBUTING with guidelines on using coverage script on next commit

[2021-05-31 14:39] #216 closed

[2021-05-31 14:45] #280 closed

[2021-05-31 14:51] ArtPoon commented on #287
See PR #291

[2021-05-31 15:16] bonnielu commented on #259
Planned breakdown of front-end components to test:

- [x] Dialogs
- [x] Language redirect
- [ ] JSON data loads
- [ ] Search interface
- [ ] Tables update
- [ ] Tooltips
- [ ] Beadplot
- [ ] File saving

Currently working through adding tests for the search interface and tooltips. Is there anything else that should be on this list?

[2021-06-07 14:39] ArtPoon commented on #259
From dev meeting:  it seems that Cypress testing framework is unable to access global namespace JS objects, even though these are transmitted to the client.  We need to access these objects to, for example, verify that the correct element in a SVG is being highlighted/selected.  Need to Google around for possible solutions/workarounds, if any.

[2021-06-07 14:45] #281 closed

[2021-06-07 14:52] ArtPoon commented on #287
Integrated into `dev` branch, activate with next PR from `dev` to `master`

[2021-06-07 14:52] #287 closed

[2021-06-07 14:56] ArtPoon commented on #290
Close when we have removed the duplicate function and integrated this reduced functionality into the primary function.

[2021-06-07 15:01] ArtPoon commented on #292
@GopiGugan implemented in `dev` branch, need to remove excess spaces, *i.e.*, `, ` and shorten field names

[2021-06-11 17:55] ArtPoon commented on #282
Disabled MPI by default.
Ran into another problem:
[code]

[2021-06-11 18:34] ArtPoon commented on #282
Fixed a problem with running MPI with `-np` flag.
Much faster even with 6 cores.
Reproduced error with some more info using this modification to `batch_utils.py`:
[code]

[code]

[2021-06-11 19:00] ArtPoon commented on #282
Successful run of backend with commit ca7a0a5
Front end fails to parse data files:
[code]

[2021-06-11 19:19] ArtPoon commented on #282
Need to load country annotations into JSON data

[2021-06-11 21:29] ArtPoon commented on #282
For some reason `district` keys are not being carried over from `by_lineage.json`:
[code]

[2021-06-11 21:30] ArtPoon commented on #282
Gah!  keyword is `division`, not `district`

[2021-06-12 00:39] ArtPoon commented on #282
Running into some difficults with front-end because we stopped requiring sample accessions in the data.
We were using accession numbers as unique identifiers for SVG elements.

Also running into this problem:
[code]
For some reason tips are not getting annotated with mutations.

[2021-06-14 14:19] bonnielu opened #293 "Broken pipe when running Cypress"
Appears four times near the beginning of running `covizu.spec.js` — could correspond to redirects to different languages? Does not affect test functionality. Unable to replicate outside of Cypress.

[code]

[2021-06-14 14:23] ArtPoon commented on #289
Pipeline crashed again:
[code]

[2021-06-14 14:23] GopiGugan opened #294 "Pipeline crash - Empty Key"
[code]

Seems like `by_lineage` had a couple of entries without a lineage assigned:

[code]

Going through `by_lineage.json`, the accession ids for those without a lineage assigned are:
- EPI_ISL_2443325
- EPI_ISL_2443326
- EPI_ISL_2443327

[2021-06-14 14:36] ArtPoon commented on #289
Try reproducing problem using command from above error message, with cached `data/by_lineage.json` file.

[2021-06-14 14:43] ArtPoon commented on #192
Write Markdown document incorporating Mermaid SVGs or PNGs generated from plaintext `mmd` files

[2021-06-14 14:45] ArtPoon commented on #259
@bonnielu got Cypress working with JS objects via the console window

[2021-06-14 14:46] ArtPoon commented on #294
Link to #264

[2021-06-14 14:47] ArtPoon commented on #294
`residuals` is deprecated so we should work on removing it in `dev` branch

[2021-06-14 14:48] ArtPoon commented on #294
We should have an exception handler in place for records that are missing lineage designations in the GISAID database

[2021-06-14 14:50] ArtPoon commented on #289
[code]
ran with no issues

[2021-06-14 14:50] ArtPoon commented on #289
@GopiGugan to restart pipeline while testing issue #264

[2021-06-14 14:53] ArtPoon commented on #292
Following a successful test of #264, let's merge #264 into `dev` and issue a PR including #292

[2021-06-14 15:06] ArtPoon commented on #282
We'll continue to try to modify the front-end to remove all dependency on sample accession numbers, and assume that sequence names are unique (need to add a check for this in backend).
That means that sequence names are re-used as element IDs, in addition to being text labels in some cases.

[2021-06-15 15:19] ArtPoon commented on #215
For testing `minimap.py`, we can load the reference genome from the FASTA file and then apply some number of random edit operations (substitution, insertion, deletion) to that genome, including random loss of coverage (missing data, incomplete genome sequence).  This will result in a set of expected "features" (differences from the reference genome) and intervals of missing data, both of which we

[2021-06-15 18:35] ArtPoon commented on #289
Pipeline died again.
[code]
@GopiGugan

[2021-06-15 18:42] ArtPoon commented on #289
Uh oh, looks like some of the compute nodes rebooted:

[code]

[2021-06-15 18:42] ArtPoon commented on #289
Going to open a ticket with Penguin

[2021-06-15 19:24] ArtPoon commented on #289
[code]

[2021-06-16 14:36] ArtPoon opened #295 "Change allocation of computing resources"
We are running most lineages serially (on a single CPU) - only a minority of lineages are run with MPI.  It would be much more efficient to run the lineages with <500 sampled variants as distributed across multiple cores with MPI.

[2021-06-16 14:40] ArtPoon commented on #295
Can probably organize jobs here:
https://github.com/PoonLab/covizu/blob/029dfa9112f338162703756b9811be2590dfae9b/covizu/utils/batch_utils.py#L84-L94

[2021-06-16 19:06] ArtPoon commented on #289
Advice from Penguin is add following line to `/etc/beowulf/config`:
[code]
To increase this setting from the default timeout of 16 seconds.  Head node and compute node exchange "are you there" signals every 4 seconds.  If network switch is overwhelmed with MPI transactions, then may be a small but substantial chance of a node failing all four checks and being treated as "down".

After modifying th

[2021-06-16 20:32] ArtPoon commented on #289
[code]

[2021-06-16 20:41] ArtPoon commented on #289
This last crash is associated with lineage B.1.177.82:
[code]
This is the *same* lineage that caused problems in a previous run (`issue264a.log`).  However, the crash before *that* was caused by lineage B.1.177.44 (`issue264.log`).

[2021-06-17 14:35] ArtPoon commented on #289
Modifying the timeout did not work:
[code]

[2021-06-17 16:38] ArtPoon commented on #289
* shut down all jobs running on the cluster (sorry @ewong347).
* checked out `master` branch - to make sure problem is not associated with branch `issue264`
* re-installed module with `python3 setup.py install --user`
* `nohup python3 batch.py --dry-run > issue289.log &`

[2021-06-17 16:46] ArtPoon commented on #289
`/var/log/messages` indicates that we actually made the ping timeout *shorter*
[code]

[2021-06-17 16:57] ArtPoon commented on #289
* Changed `/etc/beowulf/config` to set `pingtimeout` to `300` seconds.
* Reloaded config file on compute nodes.
* Killed and restarted run.

[2021-06-17 17:57] ArtPoon opened #296 "Parallel minimap2"
The alignment stage of the pipeline with minimap2 now consumes about two hours for 2 million genomes.  Although we are calling minimap2 to run with multiple threads, it is effectively a single core process.  We are currently transmitting batches of 1,000 genomes from Python over `stdin` to minimap2 as a subprocess.
* is there a more optimal batch size?
* can we parallelize this step to distribute

[2021-06-19 14:25] ArtPoon commented on #289
Pipeline still running, but strange error message came up:
[code]

[2021-06-19 14:26] ArtPoon commented on #289
Argh.  It's because of this weird lineage name:
[code]

[2021-06-19 14:35] ArtPoon commented on #289
Pipeline hasn't been updated since 4am this morning, so this directory separator bug froze the whole thing.
Need a hot fix and restart.

[2021-06-19 16:36] ArtPoon commented on #289
Spinning this off to a new issue

[2021-06-19 16:37] ArtPoon opened #297 "Lineage B.1.427/429"
Encountered this problem while trying to resolve #289:
[code]

[2021-06-19 16:44] ArtPoon commented on #297
Patch:
[code]

[2021-06-19 16:52] ArtPoon commented on #297
Hot fixed `master` branch with above changes.
Running this test:
[code]

[2021-06-19 17:07] ArtPoon commented on #297
Need to test this on a standard lineage as well.
Then commit to `master` branch and fire up a run all over again...

[2021-06-19 17:11] ArtPoon commented on #297
Oops - 8 cores is at the upper limit of what the head node can handle:
[code]

[2021-06-19 17:18] ArtPoon commented on #297
[code]

[2021-06-19 17:29] ArtPoon commented on #297
Test script `issue297.py`:
[code]

[2021-06-19 18:40] ArtPoon commented on #297
Generate a test set:
[code]

[2021-06-19 20:50] ArtPoon commented on #295
Proposed change (in `dev`) - note this incorporates hot fix #297:
[code]

[2021-06-19 22:29] ArtPoon commented on #295
Test run went fairly quickly, but crashed on processing outputs:
[code]

[2021-06-19 22:33] ArtPoon commented on #295
This sequence is associated with lineage B.6.5 and is its only entry:
[code]

[2021-06-20 00:46] ArtPoon commented on #295
Crud.
[code]

[2021-06-20 01:50] ArtPoon commented on #295
Successful run with test data.  Starting full run.

[2021-06-20 01:53] ArtPoon commented on #289
Launched run in `dev` branch with substantial changes addressing #295 and #297
[code]

[2021-06-20 14:36] ArtPoon commented on #289
Forgot something...
[code]

[2021-06-20 20:49] ArtPoon commented on #289
We're hitting the swap pretty hard, need to reduce number of processes being run on head node.

[2021-06-21 14:43] ArtPoon commented on #259
Beadplot testing in progress

[2021-06-21 14:45] ArtPoon commented on #259
@bonnielu to merge `iss259` to `dev`

[2021-06-21 14:46] ArtPoon commented on #264
There has been changes to the clustering workflow in `dev`, so we will have to be careful about merging this branch

[2021-06-21 14:48] ArtPoon commented on #282
If we omit accession numbers then these are not available to the user via the front-end.

[2021-06-21 15:02] ArtPoon commented on #289
Successful run this weekend.
Running 6 processes on the head node consumed almost all RAM and resulted in an active swap, which was probably causing the ping timeout problem.
Reduced number of processes to 4 (should probably reduce further, even to zero).

[2021-06-21 15:02] #289 closed

[2021-06-21 15:05] ArtPoon commented on #294
Link code filtering `NoneType` values in `lineage` in latest commits to this issue and close

[2021-06-21 15:09] ArtPoon commented on #295
Full run successful, closing.

[2021-06-21 15:09] #295 closed

[2021-06-21 15:12] ArtPoon commented on #296
Run some tests with varying batch size to see what is optimal.

[2021-06-21 15:17] ArtPoon commented on #297
Tests passed and full workflow ran to completion this weekend, closing.

[2021-06-21 15:17] #297 closed

[2021-06-21 16:20] #294 closed

[2021-06-22 15:52] ArtPoon opened #299 "South Africa is being parsed as a geographic region"
<img width="272" alt="Screen Shot 2021-06-22 at 11 51 57 AM" src="https://user-images.githubusercontent.com/1109328/122957811-4d244880-d350-11eb-824d-669fcffcb55a.png">

[2021-06-22 15:52] #292 closed

[2021-06-22 21:30] GopiGugan commented on #299
[code]

Seems like there is one entry in the `countries` object that is causing this:

[code]

[2021-06-23 16:09] GopiGugan opened #300 "Terminal branches drawn incorrectly in the time-scaled tree"
![Screen Shot 2021-06-23 at 11 39 23 AM](https://user-images.githubusercontent.com/35086217/123127396-3b0ddd00-d418-11eb-9c04-8c59031e06b4.png)

There does not seem to be any negative terminal branch lengths in the generated tree so this issue is likely related to the way the tree is drawn in `drawtree.js`

[2021-06-23 16:48] ArtPoon opened #301 "SVG export of beadplot does not include time axis"
This is tricky because the time axis is not actually part of that SVG - it is another element altogether

[2021-06-25 23:54] ArtPoon opened #302 "[vsportal] Problem running Pangolin outside of conda env"
[code]

[2021-06-26 00:00] ArtPoon commented on #302
Ah, I needed to use `pip3 install .` instead of `python3 setup.py install --user`

[2021-06-26 00:08] ArtPoon commented on #302
`python3 setup.py install --user` installed to `/home/poona8/.local/lib/python3.9/site-packages/covizu-0.3-py3.9.egg`, which did not work.
`python3 setup.py install` installed to `/home/poona8/workspace/python-app/venv/lib/python3.9/site-packages/covizu-0.3-py3.9.egg`, which *did* work.

[2021-06-26 17:46] #302 closed

[2021-06-26 17:55] ArtPoon opened #303 "Merge conflict on cluster"
[code]

[2021-06-26 17:55] ArtPoon commented on #303
This occurred when I was switching from `dev` to `master` branch on the cluster

[2021-06-26 22:01] #303 closed

[2021-06-27 15:55] ArtPoon commented on #273
This doesn't seem to be happening, reopening issue.

[2021-06-28 14:18] bonnielu commented on #293
Error seems to result when clicking into a different language without waiting for `clusters.json` to load. Was able to resolve it by implementing a wait time.

[2021-06-28 14:41] ArtPoon commented on #120
* Please review current draft on Overleaf
* @RouxCil to help write section on search interface

[2021-06-28 14:51] ArtPoon commented on #259
To extract a specific lineage data set from `clusters.json`, you can use the following:
[code]

[2021-06-28 14:52] ArtPoon commented on #264
@GopiGugan can you please merge `issue264` into `dev` and run a dry test?

[2021-06-28 15:03] #293 closed

[2021-06-28 15:03] ArtPoon commented on #296
Pangolin now uses [gofasta](https://github.com/cov-ert/gofasta) instead of minimap2, might be worth looking into

[2021-06-28 15:05] ArtPoon commented on #299
Merge this fix with the next PR, thanks

[2021-06-28 15:05] ArtPoon commented on #300
This seems to be associated with tips that have zero branch lengths

[2021-06-28 15:10] ArtPoon commented on #300
@bonnielu @GopiGugan can we please make a unit test fixture where a small Newick tree string has one or more tips with zero branch lengths, and integrate this into the front-end testing framework?

[2021-07-05 14:25] ArtPoon commented on #120
Redrafted manuscript, pending review from other authors

[2021-07-05 14:34] ArtPoon opened #304 "Check if running all lineages in "flat" mode is faster than current hybrid approach"
Right now we are partitioning lineages by sample size for "flat" and "deep" MPI runs, where large sample lineages are processed one at a time on all cores ("deep"), and small sample lineages are batched together for an MPI run across all cores ("flat").  I've noticed that the flat portion of the run is very short, so I'm wondering if it is more efficient to just send all lineages through that proc

[2021-07-05 14:42] ArtPoon commented on #259
See #300

[2021-07-05 14:49] #301 closed

[2021-07-05 14:50] ArtPoon commented on #304
Do dry run after @GopiGugan has merged #264

[2021-07-05 16:52] ArtPoon commented on #264
[code]

[2021-07-06 00:43] ArtPoon commented on #304
Should sort lineages by sample size for more balanced distribution across cores.

[2021-07-06 14:24] ArtPoon commented on #304
Run actually took longer, running on a small number of cores stuck with large lineages:
[code]

[2021-07-06 14:24] ArtPoon commented on #296
Current rate:
[code]

[2021-07-06 14:57] ArtPoon commented on #296
Write this script to test effect of batch size:
[code]

[2021-07-06 14:58] ArtPoon commented on #296
Results:
[code]

[2021-07-06 15:01] ArtPoon commented on #296
<img src="https://user-images.githubusercontent.com/1109328/124622672-54b41900-de49-11eb-8bda-b540e3d0f3d2.png" width="400px">

[2021-07-06 16:01] ArtPoon commented on #296
Red is 8 threads, green is 12 threads, blue is 16 threads:
<img src="https://user-images.githubusercontent.com/1109328/124631858-c8f2ba80-de51-11eb-8ba8-455fe15a3ac5.png" width="500px">

[2021-07-06 16:03] ArtPoon commented on #296
We can reduce alignment time from ~30s per 10K to ~16s by increasing batch size to 2000 genomes and the number of threads to 16.  I've monitored this run in the head node and it shouldn't be too disruptive to normal processes.  Moving this step one of the compute nodes will probably involve too much overhead in network time.

[2021-07-06 16:06] ArtPoon commented on #296
Changing default settings in `batch.py` script

[2021-07-06 17:03] ArtPoon commented on #296
[code]

[2021-07-06 17:03] #296 closed

[2021-07-06 17:23] ArtPoon commented on #304
Seems to be working so far:
[code]

[2021-07-06 19:37] ArtPoon commented on #304
Using more interprocess communication would make this even more efficient, *i.e.*, have process id 0 in charge of distributing jobs off a queue in response to requests (MPISend) from other processes.  Network overhead should be pretty low because we are just transmitting integer indices or lineage names.

[2021-07-07 02:20] ArtPoon commented on #304
Yup sorting lineages was much faster:
[code]

[2021-07-07 23:32] ArtPoon commented on #120
New draft ready for review, see Slack

[2021-07-10 03:19] ArtPoon commented on #304
[code]

[2021-07-10 03:20] #304 closed

[2021-07-10 03:20] ArtPoon opened #306 "Lineage "-""
<img width="1061" alt="Screen Shot 2021-07-09 at 11 18 17 PM" src="https://user-images.githubusercontent.com/1109328/125150225-40ec0980-e10c-11eb-810f-138f47a1f8cc.png">
<img width="675" alt="Screen Shot 2021-07-09 at 11 17 58 PM" src="https://user-images.githubusercontent.com/1109328/125150227-42b5cd00-e10c-11eb-8fd3-a380cc0ed9ae.png">

[2021-07-10 03:38] ArtPoon commented on #300
@GopiGugan can you please apply this fix to `epicov` branch?

[2021-07-10 03:38] #299 closed

[2021-07-12 14:29] ArtPoon opened #307 "Pipeline died at alignment step 2021-07-11"
[code]

[2021-07-12 14:30] ArtPoon commented on #307
From cron mail:
[code]

[2021-07-12 14:53] Abayomi-Olabode commented on #286
I ran the ==text2ui== perl script and here's what the output looks like.

[code]

[2021-07-12 15:27] GopiGugan opened #308 "Discrepancy between total and displayed number of sampled variants"
![issue308-20210712](https://user-images.githubusercontent.com/35086217/125311461-6c841500-e301-11eb-96e7-099223d71186.png)

Changes to the tooltip have been made in the `issue264` branch to fix #264. For some of the lineages, the total number of sampled variants do not match with the number of sampled variants being displayed.

[2021-07-12 17:48] ArtPoon commented on #306
The annotation for `Egypt/ARMY-44` in the GISAID database remains: `- (Pango v.3.1.5 2021-06-15)`

[2021-07-12 17:53] ArtPoon commented on #307
Proposed hot fix:
[code]

[2021-07-13 15:44] GopiGugan commented on #300
The fix has been applied to the `epicov` branch

[2021-07-13 15:44] #300 closed

[2021-07-13 16:36] #307 closed

[2021-07-13 16:39] ArtPoon commented on #306
I guess this isn't our problem

[2021-07-13 16:39] #306 closed

[2021-07-14 15:32] ArtPoon opened #309 "Beadplot collection dates are off by one"

[2021-07-14 15:37] GopiGugan commented on #309
#239 Times were set to midnight to fix the issue of beads not aligning

[2021-07-14 15:59] GopiGugan commented on #309
This doesn't seem to be the issue. Some dates in `beaddata` are a day off.

[2021-07-14 16:55] bonnielu commented on #309
I suspect that it's due to the conversion of EST time. The dates are parsed as UTC in  each `new Date()`. It assumes a time of midnight and EST is 4 hours behind, hence the dates end up being off by one. Will try to write a fix for it.

[2021-07-17 18:52] ArtPoon opened #310 "Add details panel for lineage mutations"
These can be presented as a table.
See also #286

[2021-07-18 01:10] ArtPoon opened #311 "Get vsportal backend working"
* Download sequences and metadata from [VirusSeq Portal](https://virusseq-dataportal.ca/explorer) using *Download All* link (API pending).
* Decompress gzipped tar file, *e.g.*, `tar -zvxf virusseq.tar.gz`
* Run Pangolin on FASTA file (`conda activate pangolin; pangolin [FASTA]`) - writes to `lineage_report.csv` unless we specify another output file stem.
* Convert data:
[code]
* Process data: `py

[2021-07-18 17:41] ArtPoon commented on #311
Problem with resulting `clusters.json` file:
[code]

[2021-07-19 15:36] ArtPoon commented on #120
@ArtPoon to submit preprint this week

[2021-07-19 15:37] ArtPoon commented on #215
#308

[2021-07-19 15:37] #233 closed

[2021-07-19 15:39] ArtPoon opened #312 "Edge slider does not include maximum value"
Moving the slider widget to its maximum value still prevents edge(s) with longest distance from being rendered.

[2021-07-19 15:41] ArtPoon commented on #264
Update lineage tool tip to display both numbers

[2021-07-19 15:42] ArtPoon commented on #282
Close and populate specific issues, *e.g.*, #311

[2021-07-19 15:42] #282 closed

[2021-07-19 15:45] ArtPoon commented on #286
Integrate Perl script into pipeline, add acknowledgements

[2021-07-19 15:47] ArtPoon commented on #309
Fixed in `dev` branch by @bonnielu

[2021-07-19 15:47] #309 closed

[2021-07-19 15:48] ArtPoon commented on #310
Have to remember to credit Paul Gordon and his site for mutation metadata in this details panel

[2021-07-20 15:08] ArtPoon opened #313 "B.1.617.2 located in different part of tree than other B.1.617.*"
Timetree as of update 2021-07-20:
<img width="263" alt="Screen Shot 2021-07-20 at 11 06 47 AM" src="https://user-images.githubusercontent.com/1109328/126348400-8eb48a94-287d-466c-a943-42d7a312250f.png">
<img width="263" alt="Screen Shot 2021-07-20 at 11 07 02 AM" src="https://user-images.githubusercontent.com/1109328/126348414-484e74b4-b06d-4ff0-983e-8d5ec6b6be96.png">

[2021-07-20 20:55] #120 closed

[2021-07-21 21:10] ArtPoon commented on #311
Fixed in commit e3991ed

[2021-07-21 21:11] ArtPoon commented on #311
Ran on orolo:
[code]
Note `-np` argument means we don't need a machine file.
TODO: if user sets neither `-np` nor `--machinefile`, then pipeline should run in serial mode.

[2021-07-22 02:03] ArtPoon commented on #311
[code]

[2021-07-22 03:06] ArtPoon commented on #311
Forgot I need to write `region` and `country` to labels now, because these are not necessarily embedded in sequence names.

[2021-07-22 03:48] ArtPoon commented on #311
Current data: `clusters.2021-07-21T23:22:29.json`
Front-end errors:
* `Error: <rect> attribute width: Expected length, "NaN".` (59 times)
* `Error: <text> attribute x: Expected length, "NaN".` (59 times)
* ```
  beadplot.js:674 Uncaught TypeError: Cannot read property 'replace' of undefined
    at SVGLineElement.<anonymous> (beadplot.js:674)
    at SVGLineElement.<anonymous> (d3.js:1209)
    at Se

[2021-07-22 17:30] ArtPoon commented on #311
Fixed first three problems.  Still getting `Uncaught TypeError: mutations is not iterable`.
Probably this field is not populated in `vsportal` branch.

[2021-07-22 18:41] ArtPoon commented on #311
Processing newer VirusSeq data:
[code]

[2021-07-22 18:44] ArtPoon commented on #311
[code]
This is a substantial fraction of genomes discarded with excess divergence, better check

[2021-07-22 18:46] ArtPoon commented on #311
Weird error:
[code]

[2021-07-22 20:15] #311 closed

[2021-07-22 20:43] ArtPoon opened #314 "vsportal: bad selector on mouseover vertical edge"
[code]

[2021-07-22 21:08] ArtPoon commented on #314
<img width="459" alt="Screen Shot 2021-07-22 at 4 45 22 PM" src="https://user-images.githubusercontent.com/1109328/126707249-75ab6c5f-4577-4649-a96a-b5482c49bff8.png">

[2021-07-22 21:09] ArtPoon commented on #314
Restoring regular expression to trim `hCoV-19/` prefix and `/202[0-9]+` suffix seems to have addressed the problem.

[2021-07-22 21:17] ArtPoon commented on #313
I suspect the representative genome (earliest sample) being selected for lineage B.1.617.2 is not a good representative, *i.e.*, shaky lineage classification by Pangolin.

[2021-07-22 21:22] ArtPoon commented on #313
Hum - according to curated Pangolin lineage listing:
https://github.com/cov-lineages/pango-designation/blob/master/lineages.csv
this representative genome (`India/GJ-NCDC-NIV-INSACOG-240942` is genuinely B.1.617.2

[2021-07-23 02:03] ArtPoon opened #315 "vsportal: pangolin has become too slow"
It looks like it might be scorpio's fault

[2021-07-23 14:42] ArtPoon commented on #315
Tried running in background with `nohup pangolin sequences.fasta.xz --threads 8 &` but the job apparently died with a broken pipe.
Strange error messages in `nohup.out`:
[code]

[2021-07-23 17:19] ArtPoon commented on #315
Wrote an MPI-enabled Python script to try to speed up Pangolin (version 3.1.7) processing:
[code]

[2021-07-23 17:32] ArtPoon commented on #315
Looks like there is some duplicate processing:
[code]

[2021-07-23 17:34] ArtPoon commented on #315
It's the last record in the input file:
[code]

[2021-07-23 17:42] ArtPoon commented on #315
Fixed, had to remove extra `chunk.append(record)` line in `mangolin.py`:
[code]

Check that outputs are the same:
[code]

[2021-07-23 19:13] ArtPoon commented on #315
[code]
Processed nearly 1M genomes in about an hour.

[2021-07-23 19:13] #315 closed

[2021-07-23 19:23] ArtPoon commented on #315
Combine output files:
[code]

Probably faster to do this in UNIX.

[2021-07-23 20:56] ArtPoon commented on #315
[code]

[2021-07-23 21:06] ArtPoon opened #316 "vsportal: mangled metadata TSV"
[code]

Attempting to repair in Python:
[code]

[2021-07-23 21:19] ArtPoon commented on #316
Not sure what's wrong with the TSV - Python seems to parse it fine.
[code]

[2021-07-23 21:19] #316 closed

[2021-07-23 21:24] ArtPoon opened #317 "vsportal: parse province as district for Canada (VirusSeq) records"
Currently records are not getting annotated with province

[2021-07-24 17:10] ArtPoon opened #318 "vsportal: handling geographic region annotations"
We are now embedding region (continent) metadata in records instead of relying on `countries.json` to map countries to regions, but this is not getting handled correctly for the details table.
The lineage `Object` sent to function `gentable()` in `beadplot.js` includes the following entries:
[code]
The problem is that when we are generating the table, we are iterating over `country`, which does no

[2021-07-24 17:11] ArtPoon commented on #318
I think we have to store a dictionary within this object that directly maps country to region

[2021-07-24 17:12] ArtPoon opened #319 "vsportal: Colour tree and beads by predominant Canadian province"
As a custom palette for this version of the front-end.

[2021-07-24 17:35] ArtPoon commented on #314
This is still a problem:
[code]

[2021-07-24 20:09] ArtPoon opened #320 "vsportal: None label in timetree"
This came up before in issue #156 but not directly related.

[2021-07-24 20:13] #318 closed

[2021-07-24 21:45] ArtPoon commented on #319
Need to transfer province metadata when running `convert.py` on VirusSeq data file.

[2021-07-24 21:55] ArtPoon commented on #319
[code]

[2021-07-25 16:40] ArtPoon commented on #319
[code]

[2021-07-25 16:42] ArtPoon commented on #319
Adding Genbank data:
[code]

[2021-07-26 04:11] ArtPoon commented on #319
[code]

[2021-07-26 20:31] #319 closed

[2021-07-26 20:32] ArtPoon opened #321 "vsportal: add toggle switch to filter lineages to those with Canadian samples"

[2021-07-27 14:28] ArtPoon opened #322 "Pipeline failed 2021-07-27 at treetime stage"
[code]

[2021-07-27 14:40] ArtPoon commented on #322
Re-ran the Treetime call to try to get more debugging information:
[code]

[2021-07-27 14:42] ArtPoon commented on #322
It's genomes with spaces in the country names:
[code]

[2021-07-27 14:44] ArtPoon commented on #322
I had modified `treetime.py` on the cluster and forgot to revert back to `master` branch`:
[code]

[2021-07-27 14:45] ArtPoon commented on #322
Check that pipeline runs first

[2021-07-27 14:55] ArtPoon commented on #259
@GopiGugan to provide Newick test fixture for @bonnielu

[2021-07-27 14:59] ArtPoon commented on #264
Hold off on displaying number of unsampled variants in tooltip

[2021-07-27 15:01] ArtPoon commented on #286
* write script to convert this JSON into a more compact and accessible format (*e.g.*, keyed by mutations in our format, `aa:S:D614G`)
* distribute this JSON to devs
* parse JSON in front-end and use to (1) modify lineage tooltips, (2) generate new details table (mutations)

[2021-07-27 15:02] ArtPoon commented on #308
This discrepancy is caused by generating the consensus tree and collapsing branches with low support values or short mean lengths.

[2021-07-27 15:02] #308 closed

[2021-07-27 15:03] ArtPoon commented on #312
Fix in `dev` branch, Close on PR

[2021-07-27 15:05] ArtPoon commented on #313
Generated a FASTA file containing the representative genomes in a recent run, do some checks in ft2 and treetime to reproduce this error

[2021-07-27 15:18] ArtPoon commented on #314
Maybe a problem with having forward slash `/` in selectors/element ids?

[2021-07-27 15:18] #317 closed

[2021-07-27 16:59] ArtPoon opened #323 "vsportal: avoid double tagging country/division"
e.g., "Bahrain/Bahrain/MW965625"

[2021-07-27 23:46] #322 closed

[2021-07-27 23:47] ArtPoon commented on #322
Note, I had meant those edits to `treetime.py` to be temporary to diagnose #313, and forgot to revert

[2021-07-28 02:12] ArtPoon opened #324 "Empty lineage broke pipeline"
[code]

[2021-07-28 02:22] ArtPoon commented on #324
Looks like the problem happened while preparing to write `dbstats`:
[code]

[2021-07-28 03:04] ArtPoon commented on #313
ft2 tree seems to have a reasonable placement of B.1.617.2 - note this not the same database as 2021-07-20:
<img width="743" alt="Screen Shot 2021-07-27 at 11 03 10 PM" src="https://user-images.githubusercontent.com/1109328/127257045-df314a1a-2923-49b5-b7ed-51ff7f66c441.png">

[2021-07-28 03:27] ArtPoon commented on #324
Reproduced problem from `by_lineage.json` with following script:
[code]

[2021-07-28 03:31] ArtPoon commented on #324
[code]
Seems related to #320?

[2021-07-28 03:36] ArtPoon commented on #324
I checked the contents of `by_lineage['']` - they do have empty strings assigned to the fields `covv_clade`, `covv_lineage` and `covv_variant`.  On GISAID, however, they are classified as B.1.617.2.
For now, I think we have to discard these broken records.

[2021-07-28 03:51] ArtPoon commented on #324
Note, `residuals` (returned by `build_timetree`) is deprecated anyhow, should remove.

[2021-07-28 04:09] ArtPoon commented on #324
Running test on cluster

[2021-07-28 04:11] ArtPoon commented on #320
In `vsportal` branch, `batch_utils:sort_by_lineage()` needs to exclude records with lineage `None` or `''`.

[2021-07-28 04:12] #320 closed

[2021-07-28 14:02] ArtPoon commented on #324
Successful run.

[2021-07-28 14:02] #324 closed

[2021-07-28 14:34] ArtPoon commented on #313
B.1.617.2 is nested in the C clade in the current `timetree.nexus` output as well, so it's not the conversion from NEXUS to Newick by `treetime.py:parse_nexus()`

[2021-07-28 16:20] ArtPoon commented on #313
Regenerated FASTA file:
[code]

Ran fasttree2:
[code]
[code]

[2021-07-28 16:25] ArtPoon commented on #313
Inspecting FastTree2 output, B.1.617.* are scattered:
<img width="388" alt="Screen Shot 2021-07-28 at 12 23 56 PM" src="https://user-images.githubusercontent.com/1109328/127360120-21426028-04fb-4c7e-8233-5769791d9765.png">
<img width="719" alt="Screen Shot 2021-07-28 at 12 24 11 PM" src="https://user-images.githubusercontent.com/1109328/127360133-896c53c6-de8c-4ee5-a4c1-a62bac384154.png">
<img wid

[2021-07-28 16:38] ArtPoon commented on #313
Changing fasttree2 seed did not visibly alter results.

[2021-07-28 16:55] ArtPoon commented on #313
Using `-gtr` flag didn't change this outcome either - should probably set this flag in the pipeline anyhow, since substitution rate biases are very skewed.

[2021-07-28 17:22] GopiGugan commented on #314
Yes. I think this is the issue.

https://github.com/PoonLab/covizu/blob/1a1a874abb5587b3e2e4527a9bcc425b610f2055/js/beadplot.js#L636-L637

`replace()` only replaces the first occurrence of the character. Changing to `replaceAll()` fixes the issue

[2021-07-28 18:41] ArtPoon commented on #313
Inspecting the sequence alignment, there are polymorphisms clustering B.1.617.2 with C.* (*i.e.*, not in other B.1.617.* genomes):
* G3302A (shared with C.16)
* C4002T (shared with C.*)
* C9693T (with C.16)
* G10097A (with C.*)
* C12789T (with C.16)
* C13536T (with C.*)
* C23731T (with C.*)

[2021-07-28 18:52] ArtPoon opened #325 "Disappearing vertical edges in beadplot"
To reproduce, load the CoVizu page and select a lineage with only one variant (for example, in current version, B.1.264.1), and then select another lineage with multiple variants (for example, B.1.264).  The second beadplot is rendered without any vertical edges.
<img width="1030" alt="Screen Shot 2021-07-28 at 2 52 34 PM" src="https://user-images.githubusercontent.com/1109328/127379662-4c8c9ea4-2

[2021-07-28 18:53] ArtPoon commented on #325
@bonnielu would you be able to help with this?

[2021-07-28 18:58] bonnielu commented on #325
Yup, I can take a look at the issue!

[2021-07-28 18:59] ArtPoon commented on #313
Representative B.1.617.2 genome for this data dump is hCoV-19/Angola/CERI-KRISP-K013496/2020

[2021-07-28 20:22] bonnielu commented on #325
I've narrowed down the problem to the slider rescaling in `beadplot()`. For some reason, the slider value is being set to 0.5 instead of 2. Will try to write a fix for this!

[2021-07-28 21:41] ArtPoon commented on #313
Re-ran the representative genomes FASTA through Pangolin:
[code]

[2021-07-28 21:50] GopiGugan opened #326 "vsportal: Null selection error for mouseover event in the Samples table"
[code]

[2021-07-28 21:54] #314 closed

[2021-07-28 22:00] #325 closed

[2021-07-29 16:14] #326 closed

[2021-07-29 16:16] #323 closed

[2021-07-29 19:38] ArtPoon commented on #313
Ok, I'm taking CoVizu out of the picture for a minute.
* grabbed `lineages.csv` file from Pango team ([link](https://github.com/cov-lineages/pango-designation/blob/master/lineages.csv))
* use this script to extract genome sequences from GISAID feed based on this curated listing:

[code]

* ~~generated multiple sequence alignment from output FASTA with MAFFT with `mafft --thread 12 lineages.fasta >

[2021-07-29 19:39] ArtPoon commented on #313
Fasttree threw an error:
[code]
Manually removed duplicate entry - should dig into why this happened though.

[2021-07-29 20:59] ArtPoon commented on #313
Fasttree output for FASTA derived from `lineages.csv` groups B.1.617.* together, with the exception of B.1.617 itself:
<img width="868" alt="Screen Shot 2021-07-29 at 4 58 48 PM" src="https://user-images.githubusercontent.com/1109328/127564890-b3235bb3-521d-4195-abb5-f1321cc7e15e.png">

<img width="868" alt="Screen Shot 2021-07-29 at 4 57 48 PM" src="https://user-images.githubusercontent.com/11093

[2021-07-29 21:01] ArtPoon commented on #313
Should probably incorporate `lineages.csv` to filter early samples.

[2021-07-30 19:14] Abayomi-Olabode commented on #286
Ran the text2ui perl script as follows;

```perl text2ui VOCs.tab data/ html/ mutation_annotations.json```

[code]

[2021-07-30 23:56] ArtPoon commented on #321
At VirusSeq meeting, Ed Taboada (PHAC) suggested adding a toggle to switch between Canada-only and global views.

[2021-07-31 19:29] ArtPoon opened #327 "vsportal: migrate backend to collaborator system"

[2021-08-03 15:16] ArtPoon commented on #264
* Number of variants
  - Sampled:
  - Displayed: (sampled variants only)

Still need to figure out what to do with the number of unsampled variants as a summary stat.  Might be confusing to display alongside these numbers.

[2021-08-03 15:19] Abayomi-Olabode commented on #286
"aa:S:P9S": "monoclonal_antibody_serial_passage_escape"

[2021-08-04 15:43] bonnielu opened #329 "Cypress hangs during execution of test suite"
During test runs of `beadplot.spec.js`, Cypress hangs — it consistently stalls at `Sequence details: gen_details_table`, located at the end of the test suite. I have tried running it on Chrome 92 and Electron 89, both with similar results. It doesn't seem to be an issue specific to the `Sequence details` test as it stalls at whichever test is last in the suite.

I've refactored the `Sequence detai

[2021-08-06 18:55] ArtPoon commented on #313
Modification to `dev` branch:
[code]

[2021-08-06 20:54] ArtPoon commented on #313
[code]
End result looks pretty good:
<img width="684" alt="Screen Shot 2021-08-06 at 4 53 43 PM" src="https://user-images.githubusercontent.com/1109328/128569945-50ef856c-3b19-4eb6-a71e-10155c508bcd.png">

[2021-08-06 21:19] ArtPoon commented on #313
A bunch of lineages are not being found in `lineages.csv`:
[code]
However `grep` says otherwise:
[code]
Must be some inconsistency in sequence names.

[2021-08-06 21:28] ArtPoon commented on #313
* For B.42 and B.43, the problem is replacing spaces with underscores.
* For B.60, there is complete mismatch in sequence names: *e.g.*, `England/20138078204/2020`

[2021-08-06 23:34] ArtPoon commented on #313
Replacing spaces with underscores in sequence names, now there are far fewer warnings:
[code]

[2021-08-07 00:09] ArtPoon commented on #313
Looking better.  Note that D.4 is no longer clustering with B.1.617.*:
<img width="684" alt="Screen Shot 2021-08-06 at 8 08 47 PM" src="https://user-images.githubusercontent.com/1109328/128581360-2f6575d9-a9eb-4e04-8795-1cadaa81d76a.png">

[2021-08-07 00:09] ArtPoon commented on #313
Close on successful test of PR #328

[2021-08-10 16:34] GopiGugan opened #330 "Pipeline Crash 2021-08-10"
[code]

Similar to #289

[2021-08-10 16:36] GopiGugan commented on #330
@ewong347 checked `mail` from `cron`:

[code]

[2021-08-10 17:05] GopiGugan commented on #330
[code]

[2021-08-10 17:21] ArtPoon commented on #330
[code]

[2021-08-10 17:22] ArtPoon commented on #330
Looks like too many jobs on one or two nodes, can you check with @ewong347 and @MomomomoLiu to see if they had anything running on the cluster at the time?

[2021-08-10 17:23] ewong347 commented on #330
Not me! Maybe Molly?

[2021-08-11 17:15] GopiGugan commented on #330
[code]

Ran without any issues

[2021-08-12 18:59] GopiGugan commented on #330
Crashed again...@MomomomoLiu told me that she wasn't running anything either

[code]

[2021-08-12 19:45] bonnielu opened #331 "Collection dates are off by one in tips and search"
#309 Probably the same issue with timezone conversions that we found earlier in `beaddata`. Will write a fix for it and search for any other variables that might have this problem too.

[2021-08-12 19:50] ArtPoon commented on #330
[code]
Out of memory error again.
Try reducing number of cores in `mfile` for `n0` and `n1` by two each.

[2021-08-12 19:51] GopiGugan commented on #331
You'll likely need to make a change in `drawtree.js`:

https://github.com/PoonLab/covizu/blob/781f7e2ea4858833657491c69917f47719d80b2f/js/drawtree.js#L201-L202

[2021-08-12 19:55] ArtPoon commented on #330
Comment out cron job with `crontab-e` with `covizu` user and launch a manual run please (not dry).

[2021-08-12 20:00] GopiGugan commented on #330
Changing `mfile`:

[code]

`n0` slots from 4 to 2. `n1` slots from 8 to 6

[2021-08-13 01:25] GopiGugan commented on #330
* disabled CRON job
* `python3 setup.py install --user`
* `module load openmpi/gnu`
* `nohup python3 batch.py >> ~/batch.log &`

[2021-08-13 03:19] GopiGugan commented on #330
[code]

Trying manual run again after reducing the number of cores in `mfile` for `n2` from 8 to 6.

Changing `mfile`:

[code]

[2021-08-13 14:49] GopiGugan commented on #330
Run was successful!

Activating CRON job

[2021-08-23 14:05] ArtPoon commented on #156
This is a significant issue again - currently we have a `None` lineage with over 3000 variants.
Checking an arbitrary GISAID accession number showed that this is indeed the stored classification:
<img width="474" alt="Screen Shot 2021-08-23 at 10 05 00 AM" src="https://user-images.githubusercontent.com/1109328/130461196-16893de6-de89-45ff-a678-d7541043fc8b.png">

[2021-08-23 14:07] ArtPoon opened #332 "Allow user to filter lineages in tree by most recent collection date"
A substantial number of lineages are no longer observed - it would save a lot of space to filter them out, but to enable the user to view these lineages for historical context or research applications.
We should also restore the vertical scroll bar for tall trees.  I'd prefer this to be on the left side.

[2021-08-23 14:10] ArtPoon opened #333 "Horizontal scroll for beadplots"
The time span of the pandemic is making beadplots increasingly difficult to view because sample collection dates are being compressed.  We should offer two views, one where the full range is viewable (current view), and another where collection dates map to a certain pixel width, which would cause the beadplot to expand beyond the viewable horizontal dimension.

[2021-08-23 14:21] ArtPoon opened #334 "Add script to update problematic sites VCF and Pango lineages.csv"

[2021-08-23 14:39] ArtPoon opened #335 "Reduce memory consumption"
See #330

[2021-08-23 14:41] ArtPoon commented on #335
Or invest in something like a Superdome

[2021-08-23 14:42] #156 closed

[2021-08-23 14:48] ArtPoon commented on #273
Q lineages have been implemented

[2021-08-23 14:48] #273 closed

[2021-08-23 14:55] ArtPoon commented on #333
Another option (as an alternative to horizontal scroll) would be to filter variants by most recent sample collection date, and only render those in the beadplot.

[2021-08-25 15:29] #313 closed

[2021-08-25 15:29] #312 closed

[2021-08-25 15:30] #264 closed

[2021-08-25 15:49] #331 closed

[2021-08-27 00:44] ArtPoon opened #336 "opendata: CalledProcessError"
[code]

[2021-08-28 15:01] ArtPoon commented on #336
Appending `disown` seems to have done the trick:
[code]

[code]

[2021-08-28 15:01] #336 closed

[2021-08-30 14:26] Abayomi-Olabode commented on #286
1.  Clone the pokay repo @ ```https://github.com/nodrogluap/pokay```
2. - Run the following command using Perl:
[code]
3. Run the python script below, to change mutation annotations to our preferred format:

[code]

[2021-08-30 14:28] ArtPoon commented on #330
Crashed again:
[code]

[2021-08-30 14:32] ArtPoon commented on #330
Reduced number of cores on `n3` from 12 to 10, launch dry run

[2021-08-30 14:44] ArtPoon commented on #310
This will enable us to abbreviate the number of mutations listed in the lineage tooltip

[2021-08-30 14:45] ArtPoon opened #337 "Migrate fixes from dev to opendata"
Primarily #313

[2021-08-30 14:47] ArtPoon commented on #329
@bonnielu found that breaking up test file seemed to help

[2021-08-30 14:47] #329 closed

[2021-08-30 14:53] ArtPoon commented on #334
@GopiGugan determined that Pangolin updates git submodules rather than deleting and downloading dependencies

[2021-09-01 00:08] ArtPoon commented on #330
Successful update 2021-08-31
This isn't a long term solution, see #335

[2021-09-01 00:08] #330 closed

[2021-09-01 21:50] ArtPoon opened #338 "Explore using scorpio scores to refine selection of lineage representative genomes"

[2021-09-01 21:54] ArtPoon opened #339 "Collapse nodes in time-scaled tree with low bootstrap support"
Examining fasttree2 output, it is a bifurcating (binary) tree but many of the internal branches with low bootstrap support have near zero branch lengths.  We should add a step that converts these into actual polytomies and then use the `--keep-polytomies` option in `treetime` to prevent these from being resolved.

[2021-09-01 22:09] ArtPoon opened #340 "Discordant sample counts by country for B.1.617.2"
Currently 129,693 of 444,345 B.1.617.2 genomes on GISAID were sampled in the USA.  However, in the 2021-08-31 build of CoVizu, only 96 of 145,184 genomes past filters are annotated as sampled in the USA.  This is a very large discrepancy.
(This issue was raised by an anonymous reviewer.)

[2021-09-01 22:41] ArtPoon commented on #340
[code]

[code]

[2021-09-02 19:37] ArtPoon opened #341 "Search for specific sample names"
Currently the user can search for sample names that are used to label variants (i.e., the earliest sample for that variant).  However, we do not have any way to search for subsequent samples associated with that variant.  Implementing this would be challenging because it would greatly increase the size of the JSON data file transferred from our webserver to the client.  We would also have to chang

[2021-09-03 17:05] ArtPoon commented on #335
I noticed today that loading `by_lineage.json` consumes about 16GB on my workstation.  We might have to look into filtering excess numbers of genomes.

[2021-09-03 17:07] ArtPoon commented on #335
Should probably move `clustering::recode_features()` to an earlier stage of the pipeline.  It is redundant to recompute the feature set and collapse identical variants every time we launch a job on a compute node from `by_lineage.json`.

[2021-09-03 21:30] ArtPoon commented on #339
Made the following changes in `dev`:
[code]

Using the following script to test:
[code]

[2021-09-03 21:46] ArtPoon commented on #339
Treetime output before and after collapsing polytomies (above code):
![Screenshot from 2021-09-03 17-43-06](https://user-images.githubusercontent.com/1109328/132068120-4ef9500c-7e30-493c-a39e-13ab9e618032.png)
![Screenshot from 2021-09-03 17-43-40](https://user-images.githubusercontent.com/1109328/132068127-81ced8c7-ae2c-4da9-aa93-5efe2f878338.png)

[2021-09-03 21:51] ArtPoon commented on #339
Zooming in on B.1.617.*
Before:
![Screenshot from 2021-09-03 17-49-38](https://user-images.githubusercontent.com/1109328/132068378-6d258de6-65ab-4a9f-ace4-f856285e4324.png)
After:
![Screenshot from 2021-09-03 17-49-59](https://user-images.githubusercontent.com/1109328/132068390-852bc8cf-c97f-4317-8062-bb88c13d6d7e.png)

[2021-09-07 14:39] #259 closed

[2021-09-07 14:46] ArtPoon commented on #333
@GopiGugan identified an implementation issue with the timeline being rendered as a separate SVG - in progress

[2021-09-07 14:51] ArtPoon commented on #335
Refactoring in branch `iss339`

[2021-09-07 14:53] ArtPoon commented on #337
Make a PR from dev to opendata?

[2021-09-07 15:01] ArtPoon commented on #341
Actually I think I'm mistaken - the names for all samples might actually be embedded in `searchtext` already - but when I tried searching for specific samples I wasn't getting matches.

[2021-09-07 15:04] ArtPoon commented on #341
I was able to search for a specific sample (other than the variant-defining sample) based on both accession number and name.

[2021-09-07 16:05] bonnielu opened #342 "Click to select vertical line in beadplot"

[2021-09-08 00:06] ArtPoon commented on #335
Check whether `iss339` reduces file size of `by_lineage.json`
[code]

[code]

[2021-09-08 01:36] ArtPoon commented on #335
[code]

[code]
About 35% smaller.

[2021-09-08 01:38] ArtPoon commented on #335
Test `iss339` branch on `testdata.xz` (see #213) with `--dry-run` flag.

[2021-09-08 02:04] ArtPoon commented on #335
[code]

[2021-09-08 02:12] ArtPoon commented on #335
Ok that `TypeError` message isn't kidding - I have to serialize the tuple keys.

[2021-09-08 02:43] ArtPoon commented on #335
[code]

[2021-09-08 02:56] ArtPoon commented on #335
Weird error:
[code]

[2021-09-08 03:01] ArtPoon commented on #335
Was passing `args.lineages` instead of `lineages.
New error:
[code]

[2021-09-08 03:08] ArtPoon commented on #335
Weird console message while testing, hopefully unrelated:
[code]

[2021-09-08 03:11] ArtPoon commented on #335
[code]

[2021-09-08 13:07] ArtPoon commented on #335
[code]
Seem to be running into the same issue as #336, try running with `disown` argument

[2021-09-08 20:34] ArtPoon commented on #335
This is strange - the pipeline is hanging at some point between completing the "flat" mode `clustering.py` run on "minor lineages", and starting the "deep" mode run:
[code]

[code]

There is still a single python3 process still running on the cluster.

[2021-09-08 20:35] ArtPoon commented on #335
Looks like one of the last minor lineages isn't done yet:
[code]

[2021-09-08 20:36] ArtPoon commented on #335
B.6.5 is a single variant (two sample) lineage.\
[code]

Something about handling this edge case seems to be gumming up the pipeline.

[2021-09-08 20:45] ArtPoon commented on #335
Directly inspecting the JSON file:
[code]

[2021-09-08 20:49] ArtPoon commented on #335
Manually killed the last running process.  Error message not very helpful:
[code]

[2021-09-08 20:52] ArtPoon commented on #335
Confirmed that B.6.5 is associated with process of rank 8:
[code]

[2021-09-08 20:53] ArtPoon commented on #335
Oh.  It didn't run *any* of these lineages:
[code]

Is it the `None`?

[2021-09-08 21:44] ArtPoon commented on #335
[code]
Nothing seems too unusual about this key-value pair.

[2021-09-08 21:55] ArtPoon commented on #335
Trying to reproduce problem with following test script:
[code]

[code]

[2021-09-08 23:49] ArtPoon commented on #335
Oops - that test script shouldn't be run as an MPI job.  I had 26 processes all doing the same thing!
[code]

[2021-09-09 01:00] ArtPoon commented on #335
Okay, modified the progress monitoring to get a better sense of how long this will take:
[code]
So about 137 seconds per tree, or almost 4 hours.  Since I've been terminating runs around 3 hours (since all other processes were done), I wasn't giving enough time for the `None` lineage to complete.  What is it about this lineage that consumes so much more time?  What if we just exclude it?

[2021-09-09 02:39] ArtPoon commented on #335
Re-running from raw data:
[code]

[2021-09-09 02:49] ArtPoon opened #343 "Clicking on a variant to select all "neighbour" variants"
Large beadplots are very difficult to work with, especially when trying to pick out a local "cluster" of closely related variants.  If a user clicks on a variant — represented by a horizontal line segment in the beadplot — then the sample detail table (right panel) is updated, but nothing really happens in the beadplot.  To try to make it easier for users to locate related variants, the idea is fo

[2021-09-09 03:38] ArtPoon commented on #341
This is working for me.

[2021-09-09 03:38] #341 closed

[2021-09-09 13:07] ArtPoon commented on #335
This script ran to completion successfully in 9 hours 10 minutes:
[code]

[2021-09-10 18:34] GopiGugan commented on #26
CoVizu crashes when loading the page on Safari and Firefox, but not Google Chrome.

Error messages when loading the page on Safari:

[code]

[2021-09-10 19:23] GopiGugan commented on #334
Found that Pangolin actually appends a version number to their filename. In order to see if a file needs to be updated, they need to check the version number in the filename.

https://github.com/cov-lineages/pangolin/blob/e0ceede29c0e4c07ec63dd5799b87e628cac995f/pangolin/command.py#L513-L514

However, this would not work in our case.

#### Potential Solution:

Add the two repositories as submodule

[2021-09-12 17:30] #335 closed

[2021-09-12 17:31] #333 closed

[2021-09-13 00:30] ArtPoon opened #346 "vsportal: Exclude Canada samples from Genbank feed"
There's a negligible number of these samples anyhow.

[2021-09-13 14:37] ArtPoon opened #347 "Move horizontal scroll bar to top of beadplot"

[2021-09-13 14:45] ArtPoon commented on #215
Need to check whether PR #345 has broken any of the unit tests

[2021-09-13 14:51] ArtPoon commented on #310
Table should report the following for a selected lineage (do not modify for selected variant or bead?)
* mutation label (e.g., `aa:orf1ab:P314L`)
* mutation alias (?) or other information such as insertion sequence
* frequency in lineage
* phenotypic effects (from pokay)

[2021-09-13 14:52] ArtPoon commented on #310
Might need to use some sort of letter or abbreviation encoding of phenotypic effects, and adding a corresponding legend above/below the details table.

[2021-09-13 14:57] ArtPoon commented on #334
Would need to change the paths for the respective files

[2021-09-13 14:58] ArtPoon commented on #334
Can we try this out in a new branch?

[2021-09-13 14:59] #339 closed

[2021-09-13 15:09] ArtPoon commented on #26
Let's make a new issue for this Safari crash, and roll the rest of this issue into #259

[2021-09-13 15:09] #26 closed

[2021-09-13 16:48] GopiGugan opened #348 "Website fails to load on some web browsers"
CoVizu crashes when loading the page on Safari and Firefox, but not Google Chrome.

Error messages when loading the page on Safari:

[code]

[2021-09-13 17:00] babarlelephant commented on #313
About this problem, [I experimented there](https://nextstrain.org/community/babarlelephant/cov/pango/lineages?c=gt-S_142&label=aa_spike:L452R,%20E484Q) doing a tree of the consensus of each pango lineage only based on manually assigned sequences (lineages.csv), I liked the result, although I didn't try a timetree yet.

Note that the consensus B.1.617.2 is the expected basal sequence, except for G1

[2021-09-14 19:20] ebrintn commented on #236
The number of unsampled lineages might be informative of the true number of infections and could potentially be incorporated into our Monte-Carlo approach:
![Unsampled_vs_infected_inds](https://user-images.githubusercontent.com/37120899/133319680-d8f091dc-2d0c-4a31-bf19-b467f61f1db0.png)

Note: the linear relationship between unsampled lineages and the true number of infections is statistically si

[2021-09-14 19:21] ebrintn commented on #236
This first example only had 1 replicate per num infected though so I will rerun with multiple replicates tomorrow.

[2021-09-15 16:30] ebrintn commented on #236
It appears that the relationship that I saw yesterday is actually a logarithmic relationship:
![comparison_data_logarithmic](https://user-images.githubusercontent.com/37120899/133472893-427faff4-8f01-4fa3-bbe9-1db9a93a308c.png)

[2021-09-15 17:31] ebrintn commented on #236
Logged data sort of follows a distribution - this in theory means a generalized linear model should be possible to formulate.
![log_adjusted_correlation_unsampled](https://user-images.githubusercontent.com/37120899/133481376-111155ff-5249-4cd0-94a7-8d5e8f1d07fd.png)
Statistical significance:
![statistical_significance_of_corr](https://user-images.githubusercontent.com/37120899/133481400-a8a700bd-3

[2021-09-15 17:46] #286 closed

[2021-09-17 04:24] bonnielu commented on #348
I backtracked through the commit history and it seems that my fix for #331 works in Chrome but not Safari, hence resulting in the `NaN` error messages. I've found an alternative that works cross browsers so I'll push that to `dev`. However, the issues with Firefox seem to predate that commit so I'm not sure what's up with that.

[2021-09-17 16:35] ArtPoon opened #349 "Edge-filtering is broken for large lineages"
To reproduce:
* Load page
* Navigate to large lineage, e.g., C.37
* Change slider to larger value from default (2.0)
* No new edges appear
* Console displays following error message:

[code]

[2021-09-18 04:15] GopiGugan commented on #349
I believe following line is causing the issue for `slidechange` events:
https://github.com/PoonLab/covizu/blob/7e13f69675cfed3f1829f0a61c88aff50118aa2d/js/beadplot.js#L930

[2021-09-20 13:43] bonnielu commented on #342
**Bugs/Edge cases that still need to be addressed:**
- Stroke-width of beads not visible after clicking vertical edge
- Edge selection working in conjunction with search/selectionH

[2021-09-20 14:35] ArtPoon opened #350 "Pipeline failed 2021-09-19"
[code]

[2021-09-20 14:39] ArtPoon commented on #350
[code]

Looking at line `582230`
[code]

Need to change progress monitoring to output date and time instead of runtime.

[2021-09-20 14:41] ArtPoon commented on #350
Could be that we're overwhelming the network switch by launching 52 processes via MPI?  Dial this back to about 40 and see if we still get this error.

[2021-09-20 14:44] ArtPoon commented on #350
[code]

[2021-09-20 14:53] #236 closed

[2021-09-20 14:59] ArtPoon commented on #310
Let's make a new branch for backend and frontend development of this issue

[2021-09-20 15:06] ArtPoon commented on #334
@GopiGugan investigating how to revise setup script to accommodate submodules

[2021-09-20 15:10] ArtPoon commented on #342
@ebrintn and @bonnielu to meet to discuss how to make a state diagram to track UX

[2021-09-20 15:12] ArtPoon commented on #347
Horizontal scroll does not respond to two-finger swipe on trackpad

[2021-09-20 15:15] ArtPoon commented on #347
Can we try inserting the scrollbar between the time axis SVG and beadplot SVG please?

[2021-09-20 15:16] #348 closed

[2021-09-21 03:25] ArtPoon commented on #350
Well, shucks:
[code]

[2021-09-21 15:30] ArtPoon commented on #350
* temporarily removed `n1` from machine file
* contacted WTS operator to check on this particular server, e.g., LEDs on front panel
* probably need to send it in for service and replace with new server

[2021-09-21 15:39] ArtPoon opened #351 "Animate beadplot expansion"

[2021-09-21 15:42] ArtPoon opened #352 "Beadplot horizontal scroll stutters when using arrow keys to traverse beads"
* load a beadplot
* activate "expand" button
* click on a bead to select it
* hit left arrow - bead selection will update to previous sample in variant line, while beadplot view attempts to shift left

https://user-images.githubusercontent.com/1109328/134202567-f5b8e0ff-1e30-4af0-b6e6-84399b28b8d2.mov

[2021-09-26 20:58] ebrintn commented on #342
Here are the sequence diagrams for the front end - I had to divide into two different diagrams because the free version of the program I was using would only let me have so many shapes.

@bonnielu let me know if I am missing anything.
![COVIZU Front end - 1](https://user-images.githubusercontent.com/37120899/134823941-4c406afd-59bb-47d4-807e-1dd322b2758d.png)
![COVIZU Front End - 2](https://user-i

[2021-09-27 15:25] ArtPoon commented on #342
This is a useful diagram - can we look into moving it out of this specific issue and into our dev documentation as a Mermaid diagram?

[2021-09-27 15:32] ArtPoon commented on #352
@GopiGugan was not able to reproduce this problem, and I wasn't able to either - need to figure out the specific conditions

[2021-09-30 14:48] GopiGugan commented on #347
Setting `overflow-y: hidden` hides the scrollbar at the bottom. But the `div` element / beadplot isn't scrollable anymore. An alternative approach would be to keep `overflow-y: scroll` and use `--webkit` to modify just the horizontal scrollbar. The issue with this is that it would only work for Safari and Google Chrome, but not Firefox. Firefox does not allow for customization of just the horizont

[2021-09-30 17:04] GopiGugan commented on #352
Ran into this issue.

To reproduce:
* Load `B.1.1.284` beadplot
* Expand beadplot and click on a bead in the middle
* Hit the left arrow key

[2021-09-30 21:48] ArtPoon commented on #349
Oops, should wait until we push to `master` to close

[2021-10-04 14:42] ArtPoon commented on #334
@GopiGugan is working on building this functionality into the `batch.py` script in another branch
Note that `git` will become a package dependency with this new functionality.

[2021-10-04 14:44] ArtPoon commented on #342
Close upon testing dev branch in PR #354

[2021-10-04 14:46] ArtPoon opened #355 "Migrate UX diagram from #342 to contributing document/doc folder"
We've been using mermaid for writing plain text representations of such diagrams, look into doing same for sequence diagram in #342

[2021-10-04 14:49] ArtPoon commented on #347
Close upon testing PR #354

[2021-10-04 16:11] ArtPoon opened #356 "Sample tooltip (lab and author) appears behind table"
<img width="434" alt="Screen Shot 2021-10-04 at 12 10 23 PM" src="https://user-images.githubusercontent.com/1109328/135886271-4f4d3fc0-1ee7-42a0-a6dc-6f2b4f2fbd77.png">

[2021-10-04 16:15] bonnielu opened #357 "Tooltip count for sampled variants is undefined when number of cases is 1"
![Screen Shot 2021-10-04 at 12 14 12 PM](https://user-images.githubusercontent.com/42049026/135886817-27b3f00d-a322-4dee-9695-012d42145d20.png)

[2021-10-04 16:44] GopiGugan commented on #357
`varcount` is currently undefined for 6 lineages with just one sample

[code]

[2021-10-04 16:48] GopiGugan commented on #357
https://github.com/PoonLab/covizu/blob/9a7f50570bdaa5eb1b8d846985e06761a1f8e97a/covizu/utils/batch_utils.py#L183-L205

`beaddict` isn't being updated when there is just one item in the `label_dict`

[code]

[2021-10-04 16:51] ArtPoon commented on #357
Looks like it's as simple as dropping this one indentation level:
[code]

[2021-10-04 16:55] ArtPoon commented on #357
Proposed fix:
[code]

[2021-10-04 16:57] #342 closed

[2021-10-04 16:58] #347 closed

[2021-10-04 16:58] #349 closed

[2021-10-04 17:41] ArtPoon opened #358 "Version numbering"
I haven't been keeping the version numbering up to date - it would also be nice to have some sort of version numbering system displayed for the front-end

[2021-10-06 17:17] ebrintn commented on #355
The updated diagram using mermaid is in a new branch called iss355.

[2021-10-12 14:38] ArtPoon commented on #215
@GopiGugan to update coverage stats and then close, create new issues for specific scripts needing better coverage

[2021-10-12 15:04] ArtPoon commented on #357
Test with next PR

[2021-10-14 19:00] ArtPoon opened #361 "vsportal: retrieve data from API"
* `singularity` URL appears to link to a gzipped tar containing a FASTA file and a metadata TSV file
* using `tarfile` module on raw response in `r|gz` mode seems to parse the archive contents correctly
* need to stream FASTA data into `xz` compressed file
* TSV can be written as usual, or `gz`

[2021-10-14 19:52] GopiGugan opened #362 "opendata: ValueError possibly due to an incorrect date"
[code]

[2021-10-14 20:34] #361 closed, assigned to nobody

[2021-10-14 22:26] ArtPoon commented on #362
Can you catch the exception so that we can determine which record is causing this issue?  Then we can report it to the Nextstrain team

[2021-10-15 00:42] ArtPoon commented on #327
Need to update `convert.py`:
[code]

[2021-10-15 16:12] ArtPoon commented on #362
Hm, that's in the original Genbank record.  We're have to write a catch for that edge case.

[2021-10-15 19:09] ArtPoon commented on #327
[code]
This took two hours!  Need to think about reading data into memory for processing instead of writing out a `.json.xz` file - re-compressing the data is taking too long.

[2021-10-16 16:51] ArtPoon commented on #327
Comparing processing times and file sizes:
[code]

FASTA to gzip:  147 seconds, 106 Mb
FASTA to xz:  318 seconds, 4.3 Mb

[2021-10-16 17:13] ArtPoon commented on #327
[code]
This took too long, see #315

[code]

[2021-10-16 17:17] ArtPoon commented on #327
`head -n1 mangolin.0.csv > combined.csv && tail -n+2 -q mangolin.*.csv >> combined.csv` to combine mangolin outputs

[2021-10-18 14:51] ArtPoon commented on #334
Pending test in branch `issue334`

[2021-10-18 14:54] ArtPoon commented on #343
Implementation will be similar to #353

[2021-10-18 15:26] ArtPoon commented on #310
I think we can just modify this line in above code:
`common = [feat for feat, count in counts.items() if count/len(samples) >= 0.5]`
to
`common = dict([(feat, count/len(samples)) for feat, count in counts.items() if count/len(samples) >= 0.5])`

[2021-10-21 22:43] ArtPoon commented on #327
[code]
Seems like a successful run so far.  It's running in serial mode though.

[2021-10-22 00:22] ArtPoon commented on #327
Remote system needs following for `mpirun`:
[code]

[2021-10-22 02:23] ebrintn opened #364 "Tooltip cuts off with large mutations list on chroma"
![image](https://user-images.githubusercontent.com/37120899/138383085-207e65ee-48cb-4237-94aa-a2e1e6f8456d.png)

[2021-10-22 02:51] ArtPoon commented on #327
Successful run with:
[code]
Next do full run.

[2021-10-23 00:45] ArtPoon commented on #327
Modified pipeline to incorporate Pangolin MPI processing, but this requires the conda environment to be active - hence, CoVizu must also be installed in that environment:
[code]

[2021-10-23 01:24] ArtPoon commented on #327
[code]

[2021-10-23 01:36] ArtPoon commented on #327
[code]

[2021-10-25 14:50] ArtPoon opened #365 "Selection class for bead is lost on expanding beadplot"
To reproduce, click on a bead to select it and then activate the expansion checkbox.  Scroll over to bead to see if it remains selected.

[2021-10-25 14:51] #362 closed, assigned to nobody

[2021-10-25 14:59] ArtPoon opened #366 "Combine Pokay data retrieval script (perl) with Python script for writing JSON"
We have a Perl script in the repo from Pokay - it would be cleaner to migrate that script's functionality into the Python script that we are currently using to modify the mutation data to a JSON format.

[2021-11-01 14:37] ArtPoon commented on #215
Closing, make new issues for gaps in coverage as they are identified

[2021-11-01 14:37] #215 closed

[2021-11-01 14:38] ArtPoon commented on #290
Close upon merging PR

[2021-11-01 14:42] ArtPoon commented on #310
We can try a few things:
* be selective about what phenotypes to display in table
* do a many-to-one map of phenotypes to aggregate labels
* display phenotypes as "logos" - @ArtPoon to look for Sergei Pond's ObservableHQ notebook using logos to summarize evidence for positive selection at sites of SARS-CoV-2 genome as an example

[2021-11-01 14:48] #358 closed

[2021-11-03 22:04] ArtPoon opened #367 "Confirm that Poisson clock filtering is still valid"
It's been a while since we implemented and validated this filter.  We should check how many recent genomes are being filtered out.  Eventually we'll need to add a Poisson correction a la Jukes Cantor.

[2021-11-08 16:13] GopiGugan commented on #365
This issue occurs with `resize` events as well. The problem is that the entire SVG is removed and drawn again, therefore removing previous selections.

Currently working on a solution where only the positions of the beads, vertical/horizontal lines and x-axis are updated

[2021-11-11 20:15] Abayomi-Olabode commented on #366
[code]

[2021-11-11 20:24] Abayomi-Olabode commented on #366
With this portion of the script, all that is required is the ```./data`` directory of the pokay repo!

The command to run the script is as follows:

```perl <perl_script.pl> <./data> <output_file.json>```

[2021-11-15 15:43] ArtPoon commented on #364
Closing as a duplicate of #310

[2021-11-15 15:44] ArtPoon commented on #310
Shorten listing of mutations in tooltip when we implement the details table (#364)

[2021-11-18 16:17] #365 closed

[2021-11-18 16:18] #351 closed

[2021-11-18 16:18] #290 closed

[2021-11-18 16:18] #334 closed

[2021-11-25 18:15] ArtPoon commented on #367
Bumping priority to address questions about B.1.1.529

[2021-11-25 18:42] ArtPoon commented on #367
[code]

[code]

<img src="https://user-images.githubusercontent.com/1109328/143489285-7ef25063-1a9d-4723-9fb6-976c57e05181.png" height="400px"/>

[2021-11-25 18:44] ArtPoon commented on #367
Good news is that clock rate still seems to hold, and we don't seem to be trimming too much of the distribution with Poisson quantiles (note this filter has already been applied to the `recoded.json` data).

The not so great news is that there seems to be two clock rates, with a later stage probably associated with the emergence and sweep of B.1.1.617 (Delta).

[2021-11-25 19:49] ArtPoon commented on #367
Added Poisson 0.1% quantile cutoffs and B.1.1.529 genomes (red):
<img src="https://user-images.githubusercontent.com/1109328/143494431-b36597e6-f43a-46af-9c46-fa3da9a8d158.png" height="400px"/>

[2021-11-25 19:53] #367 closed

[2021-11-26 14:31] ArtPoon opened #369 "vsportal: ImportError: cannot import name 'filter_problematic_sites'"
[code]

[2021-11-27 18:16] GopiGugan opened #370 "Pipeline crash 2021-11-27 (KeyError)"
[code]

[2021-11-27 19:26] ArtPoon commented on #370
[code]
@GopiGugan is the modification date for `AY.120.nwk` after you started the pipeline run?

[2021-11-27 19:28] GopiGugan commented on #370
No, I started the run Nov 26 at ~17:00

[2021-11-27 19:29] ArtPoon commented on #370
Yeah I thought so.  Ok, so `AY.120` is not in `recoded.json`, but the script called for it.  Is this because of a stale Newick file in `/data`?

[2021-11-27 19:32] ArtPoon commented on #370
@GopiGugan - the pipeline is running right now.  Could it be that it restarted with new data and overwrote the `recoded.json` file with new lineages?

[2021-11-27 19:41] GopiGugan commented on #370
But shouldn't it have still been written to `recoded.json`? As long as its in `by_lineage` it should have written an entry into `recoded.json` because `clustering.recode_features()` didn't throw an error, right?

https://github.com/PoonLab/covizu/blob/eac6bcd819cee3b3cd1a6a4f4d1943868ba98d59/covizu/utils/batch_utils.py#L111-L122

No the pipeline isn't running right now

[2021-11-27 20:22] ArtPoon commented on #370
@GopiGugan did you not comment out the cron job?
Anyhow I guess we'll have to let the current job run to completion and hope for the best...

[2021-11-27 20:23] GopiGugan commented on #370
The cron job was commented out. Not sure how another run started

[2021-11-28 16:24] GopiGugan commented on #370
Rerun of the pipeline was successful:

[code]

[2021-11-28 16:45] ArtPoon commented on #370
awesome thanks

[2021-11-29 14:43] GopiGugan opened #371 "Lineage label is being cut off in the time-scaled tree"
For example, B.1.1.529

![Screen Shot 2021-11-28 at 11 29 22 AM](https://user-images.githubusercontent.com/35086217/143887699-48bdfb37-3ac7-43c8-9b9e-a976b695f822.png)

[2021-11-29 14:46] GopiGugan opened #372 "vsportal: missing legend for Canadian provinces"
![Screen Shot 2021-11-29 at 9 44 24 AM](https://user-images.githubusercontent.com/35086217/143888563-8a669896-56d9-4036-8543-a4fa19fafdc2.png)

[2021-11-29 15:43] ArtPoon commented on #310
Thanks - so based on the barplot, the top 5 are:
* anthropozoonotic events - interesting, can use pangolin/bat icon
* pharmaceutical effectiveness - pill icon :-)
* convalescent plasma binding - what does this mean?
* vaccines plasma binding - can we combine this with convalescent plasma binding?
* reinfection - definitely of interest, not sure what an image would be
* virion structure - we can sk

[2021-11-29 15:48] ArtPoon commented on #310
Need to provide some more informative text than "see more" for tooltip where number of mutations of lineage exceeds 5 (maybe display 10? display mutations derived from ancestral lineage?)
Perhaps something more like "and 27 others"?

[2021-11-29 15:52] ArtPoon commented on #369
need to add what branch I was running (I think it was `vsportal`, but @GopiGugan was not able to replicate the issue)

[2021-11-29 15:54] ArtPoon commented on #370
@GopiGugan to close after next run if it is clean

[2021-11-30 23:18] GopiGugan commented on #370
Latest run was successful:

[code]

[2021-11-30 23:18] #370 closed

[2021-12-01 01:05] ArtPoon opened #373 "Bind cluster parsing to click event on rect element to reduce page load"
We're really pushing it with page load times now.  I was thinking that instead of parsing the entire set of JSON data, we could push this back so that a cluster is parsed on demand when the user clicks on the lineage to bring up the corresponding beadplot.  What are the pros and cons?  Would this adversely effect search capabilities?  Would navigating between lineages become less responsive?

[2021-12-01 01:07] ArtPoon opened #374 "Navigate directly to lineage via URL"
Instead of loading the page and being presented with the top ("first") lineage beadplot, we could enable users to navigate to a specific lineage with a modified URL, *e.g.*, `https://filogeneti.ca/CoVizu/B.1.1.529`.
If we're feeling ambitious, we could even do this for accession numbers.. I wonder if OICR already implemented something like this.

[2021-12-01 01:08] ArtPoon commented on #370
Run time's pushing 18 hours...

[2021-12-06 18:01] dpannguyen commented on #366
I have finished converting the perl script to python and tested to make sure the json output file is correct. Before I commit the changes, I have a few questions I wanted to ask:

1. Currently, the python script is in a separate file on its own. Would you like me to append it to the `mut_annotation_edit.py`? If so, I might need more guidance as to where the script should be added into.

2. Here's

[2021-12-07 18:25] GopiGugan commented on #374
If the user enters an unknown lineage in the URL, should the user be redirected to an error page or just load the regular page without selecting any cluster?

[2021-12-10 21:14] GopiGugan opened #375 "Error when hovering over some vertical lines"
In `B.4`:

[code]

[2021-12-10 21:50] #371 closed

[2021-12-10 21:50] #372 closed

[2021-12-10 23:11] #375 closed

[2021-12-13 07:00] bonnielu commented on #310
I've just had a sudden realization as to why the frequencies in the above graph are not adding up. The image I attached earlier had the 7 most frequent phenotypes removed (oops). This image below should represent the full set of phenotypes!

![Screen Shot 2021-12-13 at 1 39 03 AM](https://user-images.githubusercontent.com/42049026/145765344-377a6477-5c05-466d-a1f4-d02eead6ae71.png)

[2021-12-13 15:39] ArtPoon commented on #327
Backend running every three days

[2021-12-13 15:39] #327 closed

[2021-12-13 15:42] ArtPoon commented on #369
Close, probably wrong package installation - reopen if it happens again

[2021-12-13 15:42] #369 closed

[2021-12-13 15:45] ArtPoon commented on #373
* tooltips could be adversely affected (information not immediately available)
* could break search functionality

[2021-12-13 15:46] ArtPoon commented on #373
We could have the backend process the `clusters.json` data more before transferring to client side

[2021-12-13 15:51] ArtPoon commented on #374
I was thinking of doing this client-side, so we do a page load and then immediately run a search query.

[2021-12-13 15:55] ArtPoon opened #376 "Deprecate countries.json and use GISAID metadata"
We are parsing country information from sequence headers, which contain typos and inconsistent whitespace or punctuation.  Right now we are handling edge cases by updating the `countries.json` file.  It would be a lot cleaner to use the GISAID data field for country.
One disadvantage to this is that China would be reclassified as a country not a region (genome sequences from China are labeled by p

[2021-12-13 15:58] ArtPoon commented on #376
@GopiGugan is asking about whether we should enable "fuzzy matching" of country names, e.g., `Hong Kong` and `HongKong` would result in the same search results.  I'm not sure this is a high priority.  One possibility would be to cache country names and then do autocompletion of search queries to make sure the user is submitting a country name with a recognized spelling.

[2021-12-29 10:11] arakelyanaa opened #377 "Samples from Armenia are missing"
Hi,

First of all, great job! The great idea behind the great app.
However, there is an issue I'd like to report and ask for your advice and help.
I'm trying to use the app to identify parent sequences for Armenian samples submitted to GISAID, but covizu reports only 24 sequences from 150 + sequences from Armenia deposited in GISAID. You can check in GISAID by filtering by region "Asia/Armenia".
I

[2021-12-29 16:27] ArtPoon commented on #377
Hi Arsen, thanks for your feedback!  We apply some very strict filters while processing genome sequences, and this can end up removing a substantial fraction of any particular set of samples.  For example, we require that no more than 1% of the genome sequences is missing.  Based on my analysis of these records in the GISAID database, this filter affects at least 59 of 143 records.

I've confirmed

[2021-12-29 16:28] ArtPoon commented on #377
Regarding instructions to recover all samples, the only thing I can suggest is for you to run your own instance of CoVizu by installing from the `opendata` branch and then eliminating the filtering criteria that are causing your samples to be excluded.  Sorry that we can't be of more help.

[2021-12-29 19:18] arakelyanaa commented on #377
Dear Art Poon,

Thanks very much for the explanations. We will try to follow your advice and install CoVizu locally.

Best regards,

Arsen

[2021-12-30 21:03] arakelyanaa commented on #377
Dear Art Poon,
I tried to follow your advice and run CoVizu locally. I have GISAID username and password, so I tried to use batch.py script, but I got following error:
Entering 'covizu/data/ProblematicSites_SARS-CoV2'
From https://github.com/W-L/ProblematicSites_SARS-CoV2
 * branch            master     -> FETCH_HEAD
Already up to date.
Entering 'covizu/data/pango-designation'
From https://github.

[2021-12-30 21:04] arakelyanaa commented on #377
Dear Art Poon,
I tried to follow your advice and run CoVizu locally. I have GISAID username and password, so I tried to use batch.py script, but I got following error:
Entering 'covizu/data/ProblematicSites_SARS-CoV2'
From https://github.com/W-L/ProblematicSites_SARS-CoV2

    branch master -> FETCH_HEAD
    Already up to date.
    Entering 'covizu/data/pango-designation'
    From https://github.c

[2021-12-31 00:09] ArtPoon commented on #377
Hi Arsen, you need to use the `opendata` branch as I tried to indicate in my earlier post:
https://github.com/PoonLab/covizu/tree/opendata
The `master` branch requires that you have user credentials to a restricted-access GISAID data feed.  In contrast, the `opendata` feed is designed to take any FASTA and metadata input files, including those distributed by the Nextstrain team.

[2021-12-31 05:45] arakelyanaa commented on #377
Hi,

Thanks, but actually I have GISAID credentials and supplied them to
batch.py with --user and --password options.

Best regards,

Arsen

On Fri, Dec 31, 2021, 4:09 AM Art Poon ***@***.***> wrote:

[2021-12-31 19:04] ArtPoon commented on #377
Hi Arsen, I'm quite certain your credentials will not be able to access this feed, sorry.

[2022-01-02 08:46] arakelyanaa commented on #377
Dear Art Poon,

I regularly submit Armenian sequences to GISAID using my credentials. I was
also able to download "clade and variants" json file from GISAID in tar.xz
format.
I'll l try to run opendata version of CoVizu.

Best  regards,

Arsen

On Fri, Dec 31, 2021 at 11:04 PM Art Poon ***@***.***> wrote:

[2022-01-02 17:23] ArtPoon commented on #377
Sorry I should have clarified.  CoVizu is provisioned by GISAID with a specific data feed that you would have to set a URL for via an environmental variable, and we do not distribute that URL nor the username and password access credentials, as per our agreement with GISAID.  You may be able to run the `master` branch using your set of JSON files but I have no experience with that data format.  He

[2022-01-04 04:05] ebrintn opened #378 "Lineage B.1.640.2 not yet appearing."
France has discovered a new variant tentatively labeled B.1.640.2. This variant is not yet showing up on COVIZU.

https://www.jpost.com/health-and-wellness/coronavirus/article-691458

[2022-01-04 15:13] ArtPoon commented on #378
It's not in the GISAID database yet either - not our issue.
<img width="300" alt="Screen Shot 2022-01-04 at 10 13 05 AM" src="https://user-images.githubusercontent.com/1109328/148080324-592d19fc-9ac0-442c-b9bc-7cb6c154a06e.png">

[2022-01-04 15:13] #378 closed

[2022-01-13 18:30] ArtPoon commented on #373
Page load is now in excess of 20 seconds - need to escalate this

[2022-01-18 16:28] ktmeaton opened #379 "Visualize import/export events as a Sankey Diagram"
Hi CoVizu Team!

I saw in the REAMDE that one of your objectives is to:

With that in mind, I've developed a new panel to visualize the selected lineage as a Sankey Diagram:

![covizu_sankey_panel](https://user-images.githubusercontent.com/14981272/149977418-6f0de926-b06c-4b85-877d-470369cac91b.png)

Would you have any interest in this feature? If so, I can start a draft PR.

Thanks,
Katherine

[2022-01-18 16:59] ArtPoon commented on #379
Huh, that's a neat idea @ktmeaton!  I'd like to invite you to submit a PR to our `dev` branch.  Please note that we already have a bunch of pending changes in that branch, so I would either need to hold your PR until we've merged those changes, or create a new branch and ask for you to reissue the PR.

[2022-01-18 20:23] ArtPoon commented on #310
* [ ] We need to check whether the changes to `dbstats.json` breaks the GISAID and VirusSeq front-ends before we can consider merging these changes to `master`.  Checkout the respective branch and copy over JSON data from the `mut_table` branch to verify.  We just need these other front ends to not break, *i.e.*, tolerate changes to JSON formats.
* [ ] add attribution of new annotations JSON to Po

[2022-01-18 20:29] ArtPoon commented on #343
The beadplot data stores an edge list.  Clicking on a variant would have to trigger an event that traverses the edgelist, starting from edges adjacent to the clicked variant, and continuing until it reaches a threshold "genomic distance" away.

[2022-01-18 20:31] ArtPoon commented on #346
Should be straight forward to filter entries from the Genbank feed in the `convert.py` script.

[2022-01-18 20:33] ArtPoon commented on #366
1. yes
2. I don't think order of entries should matter, thanks
3. yes please push changes to `mut_table`

[2022-01-18 20:42] ArtPoon commented on #374
Let's stick with the `/?search=B.1.1.529` approach - this gives us room to add additional functionality like focusing on a specific sample.

[2022-01-18 20:45] ArtPoon commented on #376
We have examples of using the GISAID metadata in the `opendata` branch

[2022-01-18 23:35] ktmeaton commented on #379
I have some more features and tests to add, so I'll hold off on the PR for now.

[2022-01-19 00:53] ArtPoon commented on #379
Sounds good - we talked about your work at the dev meeting today and one thing that came up is that the page cannot really accommodate additional panels (most users will not have screens that large), so would it be possible for you to render the Sankey diagram in a modal box or something similar?

[2022-02-01 20:10] ArtPoon commented on #310
@ArtPoon to convert `clusters.json` and return to @bonnielu for testing

[2022-02-01 20:17] ArtPoon commented on #343
* event handler should be bound to variant (horizontal line) that carries a label (accession number of earliest sample)
* query edge list of lineage (cluster) by this accession number (appearing in either first or second position)
* for every edge from previous step, select the associated variant
* highlight the resulting selection

[2022-02-01 20:19] ArtPoon commented on #366
@dpannguyen could you please push your changes to `mut_table` branch when you get a chance? thanks!

[2022-02-01 22:20] dpannguyen commented on #366
pull request created at #380

[2022-02-08 20:05] ArtPoon commented on #310
* [ ] merge PR #380 from @dpannguyen
* [ ] submit PR to merge `mut_table` branch into `dev`
* [ ] go through `dev` to `master` merge process (manual update on BEVi, etc.)

[2022-02-08 20:07] ArtPoon commented on #343
Close upon merge of `dev` into `master`

[2022-02-08 20:10] ArtPoon commented on #373
Let's try to get this implemented and tested for a PR alongside #380 and #343 etc. next week

[2022-02-15 19:53] GopiGugan commented on #373
Branch `iss373` parses the `clusters.json` and allows the user to access the processed data through an API. Autocomplete is currently broken. However, other features are working fine.

I also created another branch `iss373_alt` to test an alternative approach. This will pre-process `clusters.json` data before sending it to the client.

[2022-02-15 20:04] #310 closed

[2022-02-15 20:04] #366 closed

[2022-03-02 20:05] ArtPoon commented on #373
@GopiGugan is setting up a testing environment to evaluate how this will impact server load

[2022-03-02 20:08] ArtPoon commented on #332
Since we have to manipulate the tree structure in order to redraw it according to which tips are selected (by collection date), we should make a second copy of the tree so that we are not modifying the version loaded  from the server.  Note that the `fortify` function converts the Newick tree into a "data frame"-like object that we can filter and then renumber tips based on what's left.  (We'd rem

[2022-03-02 20:11] ArtPoon commented on #332
There should already be a function for assigning vertical (y) coordinates based on how we traverse the tree from tips to the root.

[2022-03-08 20:40] #374 closed

[2022-03-08 20:41] #343 closed

[2022-03-08 20:53] ArtPoon commented on #332
Regarding the interface for selecting a date cutoff, I think it would be the most effective to have a horizontal slider aligned with the date axis of the following panel:
<img width="259" alt="Screen Shot 2022-03-08 at 3 49 08 PM" src="https://user-images.githubusercontent.com/1109328/157322543-ef205f0c-7e2b-4e26-9568-7fc48cfe0261.png">

and when the user grabs the handle of the slider, an animate

[2022-03-11 18:14] ArtPoon opened #383 "Image paths are broken on server"
<img width="352" alt="Screen Shot 2022-03-11 at 1 12 00 PM" src="https://user-images.githubusercontent.com/1109328/157925860-478e3baa-61e1-4e9c-a766-6388d3ff1406.png">

Page is looking for image file at `https://filogeneti.ca/img/bat.png` but the file is actually at `https://filogeneti.ca/covizu/img/bat.png`

I think we have to update the `.htaccess` file to rewrite the request address.

[2022-03-11 18:22] ArtPoon commented on #383
fixed on server and pushed to `master` branch

[2022-03-11 18:22] #383 closed

[2022-03-11 18:24] ArtPoon opened #384 "Propagate mutation table to index.html for other languages"
* [x] French
* [x] Spanish
* [x] Chinese

[2022-03-11 18:25] ArtPoon commented on #384
[code]

[2022-03-11 18:33] GopiGugan commented on #384
I'll add the english version of the mutation table to the different languages so it's easier to add in the translations!

[2022-03-11 19:46] spotto opened #385 "shifting baselines on the clock residuals"
Hi all - I noticed that the residuals change substantially over time, as new variants emerge and *reset* the clock.  For example, the residuals are now reset by Omicron, with lineages like Alpha and Beta no longer having substantially positive residuals.

It might be nice to define a pre-Alpha molecular clock scale (e.g., before Jan 1, 2021), so that we don’t have shifting baselines when calculati

[2022-03-11 19:54] ArtPoon commented on #385
Thanks for pointing this out @spotto!  It's certainly an issue that needs to be addressed - as you've pointed out, the molecular clock estimate has been drifting because of the proliferation of sets of lineages such as Delta (B.1.617.2 plus AY.*).  It should be fairly straightforward to set a static clock rate and origin date, and calculate residues from those numbers instead of updating them from

[2022-03-12 16:47] ArtPoon opened #386 "Mutation table does not display all mutations"
For example, BA.1.1 has 10 consensus mutations "and 41 others", but there are only 14 mutations listed in the table.

[2022-03-12 16:49] ArtPoon commented on #386
[code]
Problem is not in the data

[2022-03-12 16:56] ArtPoon commented on #386
[code]
it's loaded too

[2022-03-12 17:04] bonnielu commented on #386
I think the problem is that the mutations table doesn't reload after a search; clicking on the lineage directly should yield the correct number of mutations. Will push a fix for this later today!

[2022-03-12 17:16] ArtPoon commented on #386
You're right, I ran into this problem after searching for a specific lineage.  Thanks!

[2022-03-12 18:14] ArtPoon commented on #386
Yeah search needs to trigger a redraw of the table.  Here's a suggested patch:
[code]

Note this also tidies up calls to `gen_mut_table`, we shouldn't have to assemble a new `Object` every time.

[2022-03-12 18:14] ArtPoon commented on #386
In the future we need to clean up this code, there's a lot of redundancy in calling functions.

[2022-03-12 19:21] bonnielu commented on #386
Refactored it with your earlier suggestion and added a few lines so that it works with bead searching as well! Pushed the changes to dev for now

[2022-03-12 20:59] ArtPoon commented on #386
Looks good, thanks @bonnielu .  Let's do a quick, short PR with the language changes #384

[2022-03-12 20:59] #386 closed

[2022-03-12 21:01] ArtPoon commented on #384
@GopiGugan did you push your changes to `dev` branch?

[2022-03-12 21:14] GopiGugan commented on #384
Just cleaning up some of the code. I'll push my changes to `dev` later today

[2022-03-12 23:02] GopiGugan commented on #384
The following need to be translated:

https://github.com/PoonLab/covizu/blob/2152a842e6a950dbe3fedf75204671c229e64314/index.html#L81-L90

https://github.com/PoonLab/covizu/blob/2152a842e6a950dbe3fedf75204671c229e64314/index.html#L258

https://github.com/PoonLab/covizu/blob/2152a842e6a950dbe3fedf75204671c229e64314/index.html#L271-L273

[2022-03-17 02:22] ArtPoon opened #387 "Memory consumption by `by_lineage` dict"
While analyzing #385, I realized that the `by_lineage` object that we generate in `batch.py` is getting enormous:
https://github.com/PoonLab/covizu/blob/660c8ebda417b1a0a311aef4586b0705b1594a6d/batch.py#L147

meaning that it swamped the 32GB RAM on my workstation.  I'm not sure how we're going to solve this, because we need all the data contained in this dictionary for subsequent steps in the pipe

[2022-03-17 02:23] ArtPoon commented on #387
Maybe we could bump up the compression of identical sequences into variants?  The sequences are being converted into their compact representation of mutations and missing sites by `process_feed` anyhow.

[2022-03-17 02:27] ArtPoon commented on #385
Exporting `by_lineage` to a JSON file was taking too long, and then I ran out of memory on my workstation (#387), so I modified the `gisaid_utils` workflow with the following:
[code]

In a nutshell, we're excluding any genome that doesn't appear in the PANGO lineage designation file (about 600K genomes max).  This is running way faster.

[2022-03-17 02:36] ArtPoon commented on #387
Is there any way to promote this out of `batch_utils.py` and into the main `batch.py` workflow?
https://github.com/PoonLab/covizu/blob/660c8ebda417b1a0a311aef4586b0705b1594a6d/covizu/utils/batch_utils.py#L108-L122

[2022-03-17 02:36] ArtPoon commented on #387
Alternatively I could just throw more RAM into the head node for now...

[2022-03-17 03:05] ArtPoon commented on #385
Successful run:
[code]
first thing is to run `timetree.py` and make the RTT plot.

[2022-03-17 13:39] ArtPoon opened #388 "Circular import in gisaid_utils.py"
[code]

[2022-03-17 13:39] ArtPoon commented on #388
Patched this with the following:
[code]

[2022-03-18 12:35] ArtPoon commented on #387
I had an idea the other night that we can gather sequences with the same `diffs` key in a nested dictionary.

[2022-03-18 14:51] ArtPoon commented on #385
Hm, this is interesting - the RTT plot from treetime on the one-genome-per-lineage data set is really linear:
![image](https://user-images.githubusercontent.com/1109328/159025884-930173cf-3883-4905-bb85-1d349149f83b.png)
R-squared was 0.8

[2022-03-18 14:52] ArtPoon commented on #385
however that root date is a bit off.  need to import the ML tree into R and do a manual RTT to separate variants.

[2022-03-18 15:01] spotto commented on #385
Yes, I was wondering about the root…and also about what gets qualified as a named “lineage” for the one-genome-per-lineage data set (i.e., the VOC have given rise to more lineages, right).

My eyeball regression says that a line through the 2020 data only would be substantially by the present, reflecting the fact that lineages like Alpha and Omicron are lifting up the regression line nearer the pr

[2022-03-21 03:02] ArtPoon commented on #385
Red line is regression limited to 2020 data (slope 6.41e-4), black line is full data (slope 8.96e-4).
![image](https://user-images.githubusercontent.com/1109328/159199859-2ceb4c50-e2cb-4b6c-86d6-2371abf00320.png)

[2022-03-21 04:57] spotto commented on #385
That gives a plausible origin date. It's less obvious where the jumps occur, without the tree, but this would give a reasonable regression against which to test departures from the early clock.  Thanks!

[2022-03-22 19:28] ArtPoon opened #389 "continuous integration"
Jenkins?

[2022-03-22 21:17] bonnielu commented on #332
I’ve written a function that will filter/collapse the `root` that gets generated at `readTree()`. This filtered root then gets passed along through `readTimeTree()` where the new coordinates get calculated and a new`df` gets generated. This, however, modifies the original root.

I thought that I would be able to run a deep copy on it, but that doesn't work since root contains circular references.

[2022-03-23 14:09] ArtPoon opened #391 "Wrong install location for submodule files"
[code]

[2022-03-23 14:12] ArtPoon commented on #387
* Created new branch `iss387`
* modified `gisaid_utils.py` to take a `debug` option that limits the number of records to process from the input xz file
[code]

[2022-03-23 14:34] GopiGugan commented on #391
I believe the following should fix this issue. This just assumes that the submodule has already been initialized by the user prior to running `setup.py`:

[code]

[2022-03-23 14:54] ArtPoon commented on #387
Using the memory size estimator described in [this blog post](https://towardsdatascience.com/the-strange-size-of-python-objects-in-memory-ce87bdfbb97f), we have the following results:

| limit | old (bytes) | old (compute time) | new (bytes) | new (compute time) |
|------|-----|-----|----|----|
| 1000 | 3822984 | 1.486280 | 917308 | 1.499731 |
| 10000 | 30135474 | 13.422491 | 8778758 | 13.487156 |

[2022-03-23 18:44] ArtPoon opened #392 "can reversions be flagged?"
@nodroglaup asked about whether it is possible for CoVizu to identify back mutations (reversions) in lineages.  It's a good idea and should be possible to implement, but we would need to have some way of propagating mutation information through the tree.

[2022-03-23 23:39] ArtPoon commented on #387
<img src="https://user-images.githubusercontent.com/1109328/159813905-df42e2f6-51fa-4914-8702-6d8a1ec1a3aa.png" height="500px"/>

[2022-03-23 23:39] ArtPoon commented on #387
Ok just need to modify downstream functions to take the new `by_lineages` data structure

[2022-03-24 14:32] ArtPoon commented on #384
@MomomomoLiu @horaciobam - Sorry, there are still a couple of untranslated items:

- in both Chinese and Spanish, the column labels "Mutation", "Frequency", and "Phenotype" need to be changed
<img width="283" alt="Screen Shot 2022-03-24 at 10 29 34 AM" src="https://user-images.githubusercontent.com/1109328/159939119-759dbd9e-88ca-480e-a47a-70499ce4abe7.png">

- for the Spanish team, "curated by Pa

[2022-03-24 17:13] ArtPoon commented on #387
@GopiGugan can you please run a test on a *small* xz file (say, half a million genomes) using both `dev` and `iss387` branches, and:
1. record memory usage
2. record computing time
3. confirm that the outputs are identical (i.e., `clusters.json`, etc.)?

[2022-03-25 19:50] ArtPoon opened #393 "Memory consumption in browser"
I got the following warning from Google Chrome while running tests on the current PR:
<img width="1035" alt="Screen Shot 2022-03-25 at 3 45 45 PM" src="https://user-images.githubusercontent.com/1109328/160191307-ed7e5814-6ed0-462a-8163-364403cfebe0.png">

The page rendered fine after I instructed Chrome to continue, but I checked on memory allocation and we're eating up nearly 4GB RAM, which may b

[2022-03-25 20:02] ArtPoon commented on #393
This may be a problem specific to massive lineages like BA.1 (as in the case above)

[2022-03-26 14:22] ArtPoon commented on #387
@GopiGugan - I realized the other day that I forgot to cast `pos` as an integer in `unpack_records`, just pushed a fix to `iss387`

[2022-03-29 19:22] ArtPoon commented on #373
Move to testing on the server (we really need to get a second server at least)

[2022-03-29 19:23] #384 closed

[2022-03-29 19:29] ArtPoon commented on #388
Close, deal with this when we work on #389

[2022-03-29 19:29] #388 closed

[2022-04-01 02:46] ArtPoon opened #394 "Poisson regression is not a good model for filtering variants anymore"
Genomic diversity has undergone bottlenecks, so much of the variation in divergence has been restarting from more recent common ancestors.

[2022-04-03 21:40] GopiGugan commented on #387
[code]

Circular import fixed by doing the following:
[code]

[2022-04-03 21:42] GopiGugan commented on #387
Ran into another issue:

[code]

[2022-04-03 22:05] ArtPoon commented on #387
Try replacing:
`if typ == '+' or typ == '-':`
with
`if typ == '-':`

[2022-04-05 15:12] ArtPoon commented on #373
* Node.js server serving on port 8001
* page load is great (4 seconds for first load)
* need to figure out how to preserve SSL certificate while redirecting CoVizu traffic to Node.js port

[2022-04-05 15:19] ArtPoon commented on #394
This isn't really an issue in the sense that current variation is much narrower than expected under the Poisson model

[2022-04-05 15:19] ArtPoon commented on #394
Also see #385

[2022-04-05 15:20] #394 closed

[2022-04-11 15:01] GopiGugan commented on #387
1) Memory Usage:

Used [memory-profiler](https://pypi.org/project/memory-profiler/) to record memory usage.

For the `dev` branch:
![dev_branch](https://user-images.githubusercontent.com/35086217/162764991-548febd3-121a-41f1-88a2-2f6fb94a8002.png)

For the `iss387` branch:
![iss387_branch](https://user-images.githubusercontent.com/35086217/162765042-1051deae-e8e1-48bd-9f07-8cbe39f1b69e.png)

Need

[2022-04-11 16:36] ArtPoon commented on #387
Could it be because the phase where `by_lineages` is being generated is only in the first 2000 seconds?

[2022-04-12 19:16] ArtPoon commented on #387
I think that another explanation for the discrepancy is that I was only measuring the memory size of the `by_lineage` dictionary, whereas this is measuring the entire memory allocation associated with Python.

[2022-04-12 19:20] ArtPoon commented on #387
@GopiGugan can you please run another experiment with 1M genomes instead of 500K and capture the same statistics?

[2022-04-12 19:21] ArtPoon commented on #387
Based on outputs from @GopiGugan the results are the same

[2022-04-12 19:34] ArtPoon commented on #332
If the user wants to run a search for a specific lineage or a set of samples, we should reset the tree filter to the default (entire tree).  We should also deactivate the slider widget associated with this filter while a search is active (i.e., until the user hits the Clear button).

[2022-04-18 20:37] GopiGugan commented on #387
**1M genomes:**

1. Memory Usage:

From the `dev` branch:
![dev](https://user-images.githubusercontent.com/35086217/163873374-51c92f60-88b9-4750-a5e3-47b33ef0031c.png)

From the `iss387` branch:
![iss387](https://user-images.githubusercontent.com/35086217/163873451-f8a5d346-2433-4f71-8a8f-b69ecb024dab.png)

2. Running Time:

`dev` branch: 5h 42min
`iss387` branch: 5h 47min

[2022-04-19 19:12] ArtPoon commented on #387
I think at this point it is safe to merge `iss387` into `dev`, thanks for testing @GopiGugan

[2022-04-19 19:17] #391 closed

[2022-04-20 01:55] ArtPoon opened #396 "Timetree just started to place BA.* clade in a basal position"
Presumably this is being driven by the long branch relating this clade to other lineages - trying to see if using a relaxed clock setting can help.

[2022-04-26 19:09] #377 closed

[2022-04-26 19:09] #379 closed

[2022-04-26 19:11] ArtPoon commented on #373
@GopiGugan to attempt to deploy on server at test page some time next week

[2022-04-26 19:23] ArtPoon commented on #396
Using the relaxed clock options in TreeTime did not resolve this issue.  Might need to fit the clock model only to lineages sampled prior to winter 2021, and then fix that root.

[2022-05-03 15:52] GopiGugan commented on #373
Successfully deployed to the server:

https://filogeneti.ca/covidviz/
http://filogeneti.ca/covidviz/

[2022-05-05 17:20] ArtPoon opened #397 "Epicov tree has negative branch lengths"
<img width="407" alt="Screen Shot 2022-05-05 at 1 20 05 PM" src="https://user-images.githubusercontent.com/1109328/166978050-06e433ac-6203-4270-868f-9e439fed646a.png">

[2022-05-09 14:46] GopiGugan commented on #397
When running an instance of the `epicov` branch locally, this doesn't seem to be an issue:
![Screen Shot 2022-05-09 at 10 39 09 AM](https://user-images.githubusercontent.com/35086217/167434822-88e75200-0b46-4a2d-8ba3-8ad5a5281a18.png)

[2022-05-10 18:08] #387 closed

[2022-05-10 18:08] #393 closed

[2022-05-10 18:14] ArtPoon commented on #385
See how residual highlighting looks when we resolve #396, but presently the Omicron lineages are being emphasized so I'm inclined to leave the calculation of residuals as is.

[2022-05-10 18:18] ArtPoon commented on #389
[Travis CI](https://www.travis-ci.com/) is another framework that is used by the CFE

[2022-05-15 03:47] ArtPoon commented on #396
Submitted PR #400

[2022-05-20 17:17] GopiGugan opened #402 "Odd slider behaviour"
To reproduce:
* Pull the master branch and use the latest data files or go to https://filogeneti.ca/covizu/
* Click on `B.1.588` rect element
* Slider value displays 2.0 but it is actually 1.33
* Click on `B.1.588` rect element again and the edges are filtered correctly and the slider value is 2.0

![Screen Shot 2022-05-20 at 1 13 04 PM](https://user-images.githubusercontent.com/35086217/169579082

[2022-05-20 18:26] bonnielu commented on #402
I think it might have something to do with the slider value on that initial `B.1.588.1` lineage. The max for that lineage is 1.33 but we're attempting to set the slider value to 2. Clicking on any lineage after that one results in the observed bug.

[2022-05-20 20:30] bonnielu commented on #402
Can confirm that this occurs when clicking from any lineage with `max_dist` < 2. I'm not too sure why this is occurring since the slider values should be reset with each beadplot load, but a quick fix could be to check for that case and either reassign the slider max or the slider value.

[code]

[2022-05-21 00:35] GopiGugan commented on #402
Thanks @bonnielu. I found the solution below to also work:

[code]
This way if `max_dist` is less than 2, the slider would only go up till `max_dist`

[2022-05-21 01:18] GopiGugan commented on #373
Load times on the main site is now roughly 5-6 seconds!

[2022-05-21 01:18] #373 closed

[2022-05-21 01:18] #402 closed

[2022-05-21 03:08] ArtPoon opened #403 "lineages.csv file needs to be updated on VirusSeq backend server"
@GopiGugan - I finally noticed that none of the Omicron lineages are being displayed on that site

[2022-05-21 15:58] GopiGugan commented on #403
I believe `pangolin` needs to be updated too. Currently `pangolin 3.1.16`, updating to `v4.0.6`

[2022-05-21 16:12] ArtPoon commented on #403
But we don't use Pangolin, we're using the annotations from GISAID..

[2022-05-21 16:13] ArtPoon commented on #403
We should pull lineage classifications from ViralAI instead, please see duotang repo:
https://github.com/CoVaRR-NET/duotang/blob/main/CONTRIBUTING.md#to-obtain-required-data

[2022-05-21 16:14] ArtPoon commented on #403
Basically, we can use the ViralAI API to download lineage classifications and then the `pango2vseq.py` script to combine it with the metadata from VirusSeq.  Also need to credit ViralAI on the CoVizu-VS page.

[2022-05-24 18:11] #403 closed

[2022-05-30 15:41] ArtPoon opened #405 "Remove recombinant lineages from time-scaled tree"
I suspect this is being driven by Delta-Omicron recombinants (for example, lineage [XS](https://cov-lineages.org/lineage.html?lineage=XS)) - see screencap:
<img width="230" alt="Screen Shot 2022-05-30 at 10 29 26 AM" src="https://user-images.githubusercontent.com/1109328/171023468-a220d43a-967e-4a9f-8915-4af24b07b39d.png">

Since there are now enough recombinant lineages to distort the tree, we sh

[2022-05-31 18:06] #396 closed

[2022-06-07 19:09] ArtPoon opened #406 "Issues installing development environment"
@SyouTono242 to document

[2022-06-07 19:15] ArtPoon opened #407 "Merge current `master` branch to `vsportal`"
Specifically the front-end optimization code

[2022-06-07 19:32] SyouTono242 commented on #406
I had the following problems installing CoVizu by cloning the repository:

I followed the steps listed in [INSTALL.md](https://github.com/PoonLab/covizu/blob/master/INSTALL.md):
[code]
Then I downloaded [dbstats.json](https://filogeneti.ca/CoVizu/data/dbstats.json) and added it into the `/data` folder, so now there are these files
[code]

However when I try to run the server, I'm still getting thi

[2022-06-14 02:56] GopiGugan commented on #406
@SyouTono242 I was not able to reproduce this in the `dev` branch.

Can you try downloading [clusters.json](https://filogeneti.ca/covizu/data/clusters.json), [dbstats.json](https://filogeneti.ca/covizu/data/dbstats.json) and [timetree.nwk](https://filogeneti.ca/covizu/data/timetree.nwk) again and replace these files in your `/data` directory?

[2022-06-14 05:07] SyouTono242 commented on #406
@GopiGugan Thanks for the help!

Downloading them does seem to fix the TypeError problem. I now have
[code]

However I'm not 100% sure whether the server is running right and/or how I can open the local website. `bash run-server.sh` and `npm start` are both giving me this:
[code]
but `http://localhost:8001/` is just showing me a `ERR_CONNECTION_REFUSED` error. Is that an intended behaviour? Am I m

[2022-06-26 17:33] GopiGugan opened #408 "Pipeline failed 2022-06-25"
[code]

[2022-06-26 17:37] GopiGugan commented on #408
Similar occurrences in #350 #289

[2022-06-28 17:29] SyouTono242 commented on #58
Sorting with ascending recursive width (last date sampled for all children - first date sample for all children) and then initial sample date for all subtrees.
It seems to be working now but the unsampled ones are sticking out for some reason. I think it has something to do with NA being added to the total length... I'll be trying to assign some value (e.g. max date on the graph) to see if we can

[2022-06-28 18:04] ArtPoon commented on #408
Only thing that comes to mind is that another user was running a pile of processes on `n0`

[2022-06-28 18:09] ArtPoon commented on #408
I dug through the `/var/log/messages*` files and found an error message that could be associated with this:
[code]

[2022-06-28 18:09] ArtPoon commented on #408
I'm guessing the node ran out of RAM and since it is diskless there was no swap, so it crashed and rebooted back into the cluster network.

[2022-06-28 18:11] ArtPoon commented on #408
Only thing I can think of is to reduce the number of slots associated with `n0`

[2022-06-28 18:11] #408 closed

[2022-06-28 18:12] ArtPoon commented on #408
`n0` is slated for replacement with a new server

[2022-06-28 18:13] ArtPoon commented on #407
merge is complete, testing pending

[2022-06-28 18:14] ArtPoon commented on #405
in progress

[2022-06-28 18:17] ArtPoon commented on #58
Unsampled lineages can inherit the earliest sample date from their "parent" lineage (if that is sampled) - if parent is also unsampled, then proceed down the tree until you reach a sampled parent.

[2022-06-28 18:20] ArtPoon commented on #58
We should consider re-rooting these neighbor-joining trees so that the sampled lineage with the earliest sample date (and also largest number of descendants as a tie-breaker?) becomes the root.

[2022-06-30 00:39] GopiGugan commented on #407
Testing complete. Didn't notice any front-end issues

[2022-06-30 00:39] #407 closed

[2022-07-05 18:05] ArtPoon commented on #332
@bonnielu has there been any progress on this issue?  thanks!

[2022-07-05 18:06] ArtPoon commented on #58
@SyouTono242 can you please start commiting your code changes to a branch of this repo? thanks!

[2022-07-05 18:10] ArtPoon commented on #405
* @GopiGugan is implementing an additional `div` so that the original `div` containing the time-scaled tree can use the same relative coordinate system for drawing branches
* for now let's just use earliest sample collection date for vertical ordering of recombinant lineages

[2022-07-05 22:41] bonnielu commented on #332
Hi! Sorry for the delay on this issue, I got caught up with the indel modeling. As of now, I've refactored the filtering function so that it builds a subset from the `df` rather than pruning from the `root` variable. This makes it compatible with the recent changes and also results in a faster processing time. There are still a few kinks that I need to work out, but this feature should be done bef

[2022-07-12 08:09] SyouTono242 commented on #58
@ArtPoon Yes... But I was an idiot who forgot to checkout and I accidentally committed **and** pushed my script to **master**... I am extremely sorry; I shouldn't be checking GitHub at 4am and I learnt my lesson hard... I didn't commit anything else than the one single script I wrote, and as it's a standalone script it shouldn't interfere with any other existing file. Please roll back masters if y

[2022-07-12 12:15] ArtPoon commented on #58
Haha whoops! Don’t stress about it @SyouTono242 - accidents happen and I’ve made the same mistake before.  @GopiGugan can you please roll back this commit and @SyouTono242 can you push your changes to the dev branch?

[2022-07-12 18:13] ArtPoon commented on #58
Code commited to `dev` branch, incorporate into a PR and review affects of new code on beadplots

[2022-07-12 18:18] ArtPoon commented on #332
Thanks!  Can we set the default value of the slider to one year prior to the current date, i.e., we are displaying lineages that have been sampled in the past year only.

[2022-07-12 18:19] ArtPoon commented on #405
In progress, @GopiGugan resolving small bug involving tooltip

[2022-07-19 14:57] GopiGugan opened #410 "Beadplot is not updating when searching for a lineage"
For example, search "XF"

Time-scaled tree updates but not the beadplot. Need to click on the `rect` element for the beadplot to update.

[2022-07-19 17:38] ArtPoon commented on #405
Let's focus on merging PR #409 before we work on incorporating this - thanks @GopiGugan !

[2022-07-19 17:41] ArtPoon commented on #58
Keep an eye on this new code while reviewing PR #409

[2022-07-19 19:55] ArtPoon opened #411 "Substring search seems to be broken"
[code]
Steps to reproduce:
1. Load page
2. Search for `BE.1` and click on highlighted `rect` to load beadplot (see #410 )
3. Do a second search for `ON-PHL`.  Page will be stuck.  JS console will throw the above error.

[2022-07-27 15:15] ArtPoon opened #412 "Repeated crashes on SuperDome"
* VirusSeq CoVizu cron job was running to update every three days
* incomplete lineage assignments from Viral AI was causing the pipeline to crash
* removed cron job, will manually launch VirusSeq CoVizu and monitor after patching the above issue (ignore missing lineage assignments)

[2022-07-27 15:18] ArtPoon opened #413 "Filtering recombinant lineages"
We could do one of two things:
* have a button to enable the user to remove recombinant lineages from the time-scaled tree plot
* filter recombinant lineages as we will be doing with #409

[2022-07-27 15:23] ArtPoon commented on #58
Let's work on porting this into JS for the next PR (after #409)

[2022-08-09 18:06] #332 closed

[2022-08-09 18:08] ArtPoon commented on #405
see also #413

[2022-08-09 18:11] ArtPoon commented on #411
close upon merging PR #414

[2022-08-09 18:11] ArtPoon commented on #410
close upon merging PR #414

[2022-08-09 18:12] #385 closed

[2022-08-13 16:52] GopiGugan commented on #412
New data files have been uploaded

[2022-08-13 16:52] #412 closed

[2022-08-16 18:21] ArtPoon commented on #58
@GopiGugan to generate toy data sets to run `beadplot.py` script
@bonnielu to port @SyouTono242 's code from R to Python (in `beadplot.py`)

[2022-08-24 13:10] #411 closed

[2022-08-24 13:10] #410 closed

[2022-08-24 13:13] ArtPoon commented on #58
Apply sorting algorithm directly to data structure before it is serialized as a JSON file

[2022-08-28 16:36] ArtPoon opened #416 "Irregular formatting in lineages.csv file is causing the pipeline to crash"
No jobs currently running on the cluster.
[code]
Seems to have stalled on parsing PANGO lineages?

[2022-08-28 16:51] GopiGugan commented on #416
Could this be related to recent updates to the `lineage.csv` file?

Failed August 23 run:

[code]

Failed August 26 run:

[code]

[2022-08-28 17:37] ArtPoon commented on #416
Maybe related to this commit?
https://github.com/cov-lineages/pango-designation/commit/aa9e72bc76df05b1bdab28a94ba9d1c9c6bd3547
(blank line in middle of file)

[2022-08-28 17:39] ArtPoon commented on #416
And a similar error was patched on Aug 23:
https://github.com/cov-lineages/pango-designation/commit/60d1cc75a27ebe5d92435762afe4ffddae3ad68b

[2022-08-28 17:39] ArtPoon commented on #416
We might need to write something to catch these edge cases

[2022-08-30 18:09] ArtPoon opened #417 "Time-scaled tree is being rendered past bottom of page"
This came up with the new time slider.
@GopiGugan identified this part of `style.css` as a potential fix (replace `100%` with `85%`):
https://github.com/PoonLab/covizu/blob/176604196563d19533869a681feea8c6a591e00d/css/style.css#L786-L792

[2022-08-30 18:11] ArtPoon commented on #416
Current update got past this step, so we should be ok

[2022-08-30 18:12] ArtPoon commented on #405
in current PR #415

[2022-08-30 18:13] ArtPoon commented on #58
@bonnielu has test data from @GopiGugan , code analysis in progress

[2022-08-30 18:14] #192 closed

[2022-08-30 18:15] ArtPoon opened #418 "Clear out stale branches"

[2022-08-31 18:35] #417 closed

[2022-09-06 18:05] ArtPoon commented on #416
Runs crashed again, let's not close this until we can catch this edge case

[2022-09-06 18:06] ArtPoon commented on #416
Screen `lineages.csv` file for empty lines and special characters

[2022-09-08 22:42] GopiGugan commented on #416
The line `strain userOrOld date Nextstrain_clade pango_lineage genbank_accession country Nextstrain_clade_usher pango_lineage_usher accession` in `lineages.csv` is causing this issue

[code]

[2022-09-09 16:54] #418 closed

[2022-09-12 17:35] ArtPoon opened #419 "Add button to export mutation lists"
It would be helpful to be able to export a CSV of all mutations associated with a lineage.  This should also include the nucleotide substitutions.

[2022-09-13 18:10] ArtPoon opened #420 "Feature request: scrolling past bottom in tree or beadplot panel should propagate to main window"
For example, the time-scaled tree in the left panel appears to be cut off even if the user scrolls all the way down in that context - user has to position mouse in top or right panels for scroll to affect main document:
<img width="1370" alt="Screen Shot 2022-09-13 at 2 08 56 PM" src="https://user-images.githubusercontent.com/1109328/189977980-80079bea-5bcf-4a8e-bfe2-86a818e90428.png">

[2022-09-13 18:12] ArtPoon opened #421 "DOMException: illegal character?"
[code]

[2022-09-13 18:12] ArtPoon commented on #421
I think we have to escape the apostrophe?

[2022-09-13 18:21] ArtPoon commented on #58
porting is finished, @bonnielu requesting larger test data

[2022-09-14 14:28] #416 closed

[2022-09-19 20:24] ArtPoon opened #423 "VirusSeq: timetree has omicron placed outside of main tree"
Duplicate of #396
Did the changes related to that previous issue get rolled into the `vsportal` branch?

[2022-09-19 20:30] ArtPoon commented on #423
Nope it's not there:
[code]

[2022-09-19 20:36] GopiGugan commented on #423
Yes we didn't move this change to the `vsportal` branch. We only updated the front-end.

Would you like me to update the `vsportal` branch with these changes? I believe we'd have to make a couple of changes to make it work for that branch

[2022-09-19 20:37] ArtPoon commented on #423
I'm doing it right now

[2022-09-19 20:38] ArtPoon commented on #423
[code]

[2022-09-19 22:43] GopiGugan opened #424 "Search is partially broken"
Trying to search by country (e.g. Canada) gives me the following error:

[code]

Searching by accession number or lineage works fine

[2022-09-20 18:09] ArtPoon commented on #424
@GopiGugan to step back through code changes to see where this search function got broken

[2022-09-20 18:09] ArtPoon commented on #423
Let's check on the topology of the tree the next time this backend gets run

[2022-09-20 18:10] ArtPoon commented on #421
close on next PR

[2022-09-20 18:16] ArtPoon commented on #58
We need to write some unit test fixtures (trees that should be re-ordered a specific way) to determine why these test data sets are not being changed.

[2022-09-23 22:57] GopiGugan commented on #424
https://github.com/PoonLab/covizu/blob/d238bcd1a54d0fe81ee1d528a2e8368343c9683d/js/covizu.js#L236-L241

`map_cidx_to_id` is only generated using the rect elements from the initial filtered tree (with a cutoff date of a year before the current date). We need to map cidx to id for all rect elements

[2022-09-27 02:35] GopiGugan commented on #423
BA* no longer placed outside the main tree (2022-09-25)
![image](https://user-images.githubusercontent.com/35086217/192417399-d31c7742-954e-46d6-b3da-48afdd4bc9b7.png)

[2022-10-04 13:39] bonnielu commented on #58
I tested it out using the data that Gopi gave me and this is what the beadplots look like after reordering by date! The larger lineages do seem like they have a tendency to line up if we reorder by this method.

![image](https://user-images.githubusercontent.com/42049026/193832908-e04db793-fd22-47fc-ad59-2af87282d073.png)
![image](https://user-images.githubusercontent.com/42049026/193833092-79bd8d

[2022-10-04 17:55] GopiGugan commented on #58
![Screen Shot 2022-10-04 at 1 54 35 PM](https://user-images.githubusercontent.com/35086217/193891383-be86ae08-4350-4e6a-8376-1b547a97549d.png)
![Screen Shot 2022-10-04 at 1 54 57 PM](https://user-images.githubusercontent.com/35086217/193891400-1900d324-b2b1-4583-b6cd-a11f81038d1f.png)

[2022-10-04 17:57] ArtPoon commented on #58
Ok thanks!  I'm willing to call the first, smaller beadplot an improved layout.  Difficult to say for the second one - but I wonder what the heck is going on with all those samples taken on the same date?

[2022-10-04 18:10] ArtPoon commented on #58
Can we please see what the beadplots look like if we prioritize earliest sampling date, and then tree traversal?

[2022-10-04 18:12] #423 closed

[2022-10-04 18:17] ArtPoon opened #427 "Renew SSL certificate for website"
Expires next month (Nov 14)

[2022-10-04 19:01] bonnielu opened #428 "Not all lineages being displayed in the tree"
Not all of the lineages are being displayed when we're using this set of test data. However, checking out a previous instance of the branch (prior to tree filtering) does yield the correct tree.

I'm thinking that this is potentially an edge case that we haven't covered? I've looked into it briefly and the `redraw_tree` function does produce a filtered df with the correct number of tips/nodes. So

[2022-10-11 16:30] bonnielu commented on #58
This is what it looks like if we prioritize sorting by (last date - first date), earliest sampling date, followed by level-order tree traversal.

![Screen Shot 2022-10-11 at 11 03 42 AM](https://user-images.githubusercontent.com/42049026/195147704-d864799e-a2b6-4d1c-9723-860a50a34e48.png) ![Screen Shot 2022-10-11 at 11 03 28 AM](https://user-images.githubusercontent.com/42049026/195147740-200d3215

[2022-10-11 18:03] ArtPoon commented on #427
See #180 for details

[2022-10-11 18:15] ArtPoon commented on #58
Thanks for implementing this different approach @bonnielu - after reviewing the outputs, I think we should go ahead with the first revision (Yiran's version).  Please revert to that algorithm and submit a PR to dev.

[2022-10-11 20:47] GopiGugan opened #429 "vsportal: Pipeline failed 2022-10-09"
In the log file:
[code]

[2022-10-11 20:48] GopiGugan commented on #429
Could be a network related issue or the Viral AI database could have been unavailable at the time. I'm able to run `dnastack collections query virusseq 'SELECT isolate, lineage FROM publisher_data.virusseq.samples' --format csv > data/viralai.csv` without any issues now

[2022-10-12 00:59] GopiGugan commented on #429
Confirmed that there were no scheduled maintenance at the time the pipeline failed (~14:30). There were no issues logged in the log servers at the time the pipeline failed.

[2022-10-19 14:08] ArtPoon commented on #427
Automatically renewed

[2022-10-19 14:08] #427 closed

[2022-10-19 14:08] ArtPoon commented on #428
Fix in `dev` branch

[2022-10-19 14:08] #428 closed

[2022-10-24 20:18] #421 closed

[2022-10-24 20:18] #405 closed

[2022-10-24 20:18] #413 closed

[2022-10-24 20:19] #424 closed

[2022-10-25 18:13] ArtPoon commented on #389
Check if it's possible to incorporate front-end unit tests in Cypress - and if there is any benefit in switching testing front-end testing frameworks to one that requires npm

[2022-10-25 18:17] ArtPoon opened #431 "Changes to VirusSeq API"
Variants, the name changed from `publisher_data.virusseq.variants` to `collections.virusseq.public_variants`

[2022-10-25 18:17] ArtPoon commented on #431
Check if this breaks our query

[2022-10-31 14:07] GopiGugan commented on #389
There is a [Cypress Github Action](https://github.com/marketplace/actions/cypress-io) that we can use. Following the [documentation](https://docs.cypress.io/guides/continuous-integration/github-actions#Cypress-GitHub-Action) from their website to set this up

[2022-11-01 19:14] #431 closed

[2022-11-01 19:14] ArtPoon commented on #431
Seems like this is still working for us

[2022-11-01 19:17] ArtPoon commented on #28
@bonnielu to assess feasibility of implementing tutorials using the existing front-end code

[2022-11-01 19:20] ArtPoon commented on #376
Provision file contains a field that looks like this, e.g., `"covv_location": "Europe / Denmark / Midtjylland"`.  We would take the first value for region, and then the second for country.

[2022-11-08 19:14] ArtPoon commented on #376
We should be propagating the country annotation of records from the `covv_location` field instead of extracting this info from the sequence name.  In cases where a country name is misspelt in the sequence name, *e.g.*, `HongKong`, that sample should still carry the correct country name from `covv_location`.

[2022-11-08 19:22] ArtPoon commented on #376
The above problem with misspelt country names means that we cannot just generate a mapping of country to region from the `covv_location` data.  For this reason, we should modify the `clusters.json` data structure after all.  It should be possible to do this without breaking the other front-end (i.e., VirusSeq) by appending `covv_location` to the Array of a given sample, which presently consists of

[2022-11-15 19:11] ArtPoon commented on #389
This would be a good issue to offload to the new programmer

[2022-11-17 21:38] nav-mohan opened #433 "Migrate to a database"
clusters.json is a massive text-file and the Node server consumes a lot of memory as a result. We need to setup a database and a periodic (daily?) import script to update the database.
A relational database (MySQL, MsSQL, Sqlite) would be the standard choice but a Graph Database (Neo4J) might be better optimized for such a dataset.

[2022-11-17 21:55] ArtPoon commented on #433
Let's discuss this at next dev meeting, thanks

[2022-11-17 22:04] ArtPoon commented on #433
A potential problem is that some front-ends are not communicating with the nodeJS server

[2022-11-17 22:43] ArtPoon commented on #433
Yes we are currently serving three different front-ends: one for [GISAID](https://gisaid.org/), one for [VirusSeq](https://virusseq-dataportal.ca/) and our own instance at https://filogeneti.ca/covizu
These are at different stages of development

[2022-11-17 23:46] nav-mohan commented on #433
Ok, I see. but if those specific static files aren't too large we could leave them as they are and continue delivering them directly to the frontend.
My only concern is the clusters.json file. As the clusters.json file keeps growing, it would increasingly strain the server. If the entirety of clusters.json is not required for rendering the frontend then we should use a database for that API call.

[2022-11-21 19:26] nav-mohan commented on #389
GitHub Actions might be an easier choice to begin with. It's just a wrapper around some shell scripts and it comes with some pretty helpful templates of Actions such as building a NodeJS server or a Python module. Although, I'm not exactly sure how to apply it to our case. We could discuss this during our dev meeting tomorrow (2022-11-22).

[2022-11-22 18:10] ArtPoon commented on #433
* agreed that this should reduce memory consumption of Node server
* will querying the database be a bottleneck?
* server would have to regenerate database every time a new JSON file is uploaded

[2022-11-22 18:21] ArtPoon commented on #389
Let's investigate and test GitHub Actions for CI - @GopiGugan can you please copy the list of CI tasks from an older PR to this issue?

[2022-11-22 18:22] #338 closed

[2022-11-22 18:58] ArtPoon commented on #433
Let's try this out in an experimental branch, but this is not a high priority task

[2022-11-22 19:29] GopiGugan commented on #389
For each PR, we usually check to make sure that the following front-end features aren't broken:
* Search
    * Search by accession number
    * Search by lineage
    * Search by country
    * Search by country (with date filter)
* Tree filtering
* Download Time-scaled tree (nwk)
* Download Time-scaled tree (csv)
* Download Beadplot (svg)
* Download Beadplot (nwk)
* Beadplot cutoff slider
* Expandi

[2022-11-24 04:53] ArtPoon opened #434 "Make variants in bead plots collapsible"
Just an idea.  Since we are having problems interpreting enormous beadplots, it might help to collapse descendant variants into a single ancestral line segment, kind of like a tabbed HTML interface

[2022-11-29 19:10] GopiGugan commented on #389
@nav-mohan suggested splitting up the front-end (javascript, node server) and the back-end(python files) into separate repositories for the CI pipeline

@nav-mohan to see if we can run certain tests when certain files are modified. This is possible with Github Actions but front-end/back-end would have to be in separate folders